doctype html
html
  head
    title دل آواز
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.min.css')
    script(src='js/jquery.js')
    script(src='js/jquery.mobile-1.4.5.min.js')
    link(rel='stylesheet' type='text/css' href='resources/css/main.min.css')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='stylesheet' href='css/Style.css')
  body(data-theme='b')
    #p2.p2(data-role='page')
      div(data-role='header' data-theme='b' data-position='fixed')
        img.head(src='images/head.png' alt='')
        a.ui-btn.ui-corner-all.ui-shadow.ui-icon-bars.ui-btn-icon-grid.ui-btn-icon-notext(href='#panel-overlay')
      #panel-overlay(data-role='panel' data-display='overlay')
        ul(data-role='listview')
          img.panel(src='images/panel.png')
          li(data-icon='info')
            a(href='/main.jade' data-transition='slide' style='text-align: center;border: none;') صفحه اصلی
          li(data-icon='info')
            a(href='/bio.jade' data-transition='slide' style='text-align: center;border: none;') زندگی نامه
          li(data-icon='info')
            a(href='/aboutus.jade' data-transition='slide' style='text-align: center;border: none;') در باره ما
          li(data-icon='phone')
            a(href='https://www.instagram.com/del.avaaz/' data-transition='slide' target='blank' style='text-align: center;border: none;') صفحه ی ما 
        br
        br
      div(data-role='header')
      // /header
      .ui-content(role='main' style='padding:0;margin-top:-2px;')
        script(type='text/javascript').
          if(!#{internetStatus}){
            $.toast({
                heading: '<h3 class="h3">!دستگاه شما به اینترنت متصل نیست</h3>',
                text: '<a class="a" href="" onclick="window.location=document.URL;" style="margin-right: 80px;margin-top: 5px;">تلاش مجدد</a>',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: false,
                position: 'top-center',
            })
          }
        .jAudio
          audio
          .jAudio--ui
            .jAudio--thumb
            .jAudio--status-bar
              .jAudio--details
              .jAudio--volume-bar
              .jAudio--progress-bar
                .jAudio--progress-bar-wrapper
                  .jAudio--progress-bar-played
                    span.jAudio--progress-bar-pointer
              .jAudio--time
                span.jAudio--time-elapsed 00:00
                span.jAudio--time-total 00:00
          .bio(data-role='collapsible')
            h3 زندگی نامه
            p
              | محمدرضا شجریان (زادهٔ ۱ مهر ۱۳۱۹ در مشهد) موسیقی‌دان، آهنگ‌ساز، خواننده و خوشنویس اهل ایران و نامزد ۲ جایزه گرمی است.[۷]
              | سایت انجمن آسیا وی را پرآوازه‌ترین هنرمند موسیقی اصیل ایرانی،[۸] روزنامهٔ ونکوورسان او را یکی از مهم‌ترین هنرمندان موسیقی جهان[۹] و همچنین رادیوی عمومی ملی (NPR) در سال ۲۰۱۰ وی را یکی از ۵۰ صدای برتر جهان معرفی کرده‌است.[۱۰] شجریان در ایران ملقب به خسرو آواز ایران می‌باشد.
              | محمدرضا شجریان، رئیس کنونی شورای عالی خانه موسیقی ایران،[۲] بنیان‌گذار گروه شهناز[۱۱] و مبدع چند ساز موسیقی[۱۲] می‌باشد. همچنین از فرزندان محمدرضا شجریان، همایون و مژگان در زمینهٔ موسیقی فعالیت دارند. شجریان در قرائت قرآن نیز فعالیت داشته و دعای ربنا معروف‌ترین تلاوت قرآنیِ اوست؛ این اثر توسط سازمان میراث فرهنگی صنایع دستی و گردشگری به عنوان اثر ملی ثبت شده‌است.[۱۳][۱۴] خوانندگان سرشناسی چون ایرج بسطامی، حسام‌الدین سراج، حمیدرضا نوربخش، علی جهاندار و پسرش همایون از شاگردان شجریان هستند.محمدرضا شجریان، یکم مهر ۱۳۱۹ در مشهد متولد شد. خواندن را از کودکی با همان لحن کودکانه آغاز کرد. از کودکی، با توجه به استعداد و صدای خوبش، تحت تعلیم پدر، که خود قاری قرآن بود، مشغول به پرورش صدای خویش شد.در سال ۱۳۳۱، برای نخستین بار، صدای تلاوت قرآن او از رادیو خراسان پخش شد. وی در سال ۱۳۳۸ به دانش‌سرای مقدماتی در مشهد رفت و از همان سال برای نخستین بار با یک معلم موسیقی آشنا شد.[۱۵]
              | پس از دریافت دیپلم دانش‌سرای عالی، به استخدام آموزش و پرورش درآمد و به تدریس مشغول شد و در این زمان با سنتور آشنا شد و فراگیری این ساز را نزد جلال اخباری شروع کرد.شجریان در سال ۱۳۴۰ با فرخنده گل‌افشان ازدواج کرد که حاصل آن سه دختر به نام‌های فرزانه (راحله)، افسانه و مژگان و یک پسر (همایون) بود.[۱۶][۱۵]
              | او در سال ۱۳۴۶ به تهران رفت و با احمد عبادی آشنا شد و همچنین در کلاس اسماعیل مهرتاش شرکت نمود. در همین سال برای آموختن خوشنویسی در انجمن خوشنویسان نزد ابراهیم بوذری رفت. شجریان از سال ۱۳۴۷، خوشنویسی را نزد حسن میرخانی ادامه داد. وی در سال ۱۳۴۹، درجهٔ ممتاز را در خوشنویسی به دست آورد.
              | محمدرضا شجریان تا سال ۱۳۵۰ به‌خاطر این‌که پدرش می‌خواست خانوادهٔ آن‌ها (شجریان) بیشتر با قرائت قرآن و چهرهٔ مذهبی شناخته شوند، با نام مستعار سیاوش بیدگانی با رادیو همکاری می‌کرد، ولی بعد از آن پدرش به او اجازهٔ استفاده از نام اصلی‌اش را داد.[۱۵][۱۷][۱۸] وی تا سال ۱۳۴۷ در استخدام آموزش و پرورش بود و پس از مدت زمانی تدریس و مدیریت مدارس، به وزارت منابع طبیعی انتقال یافت. وی در مدت خدمت در آموزش و پرورش در رادکان از توابع چناران به تدریس پرداخت و مدتی در این شهر سکونت داشت.[۱۵]
              | در ۱۳۵۰ با فرامرز پایور آشنا شد و یادگیری سنتور و ردیف‌های آوازی را نزد وی دنبال کرد.[۱۵] در سال ۱۳۵۱ در برنامه گل‌ها با نورعلی‌خان برومند آشنا شد و شیوهٔ آوازی سید حسین طاهرزاده را نزد او آموخت. از سال ۱۳۵۲ نزد عبدالله دوامی ردیف آوازی ایشان و شیوه‌های تصنیفخوانی را فراگرفت. در همین سال، به همراه گروهی از هنرمندان همچون محمدرضا لطفی، ناصر فرهنگ‌فر، حسین علیزاده، جلال ذوالفنون و داوود گنجه‌ای، به عضویت مرکز حفظ و اشاعۀ موسیقی به سرپرستی داریوش صفوت درآمد. در آن زمان تصنیف داروَگ را که مربوط به آهنگی از محمدرضا لطفی بر روی شعری از نیمایوشیج بود اجرا کرد.[۱۹] تصنیف داروَگ از اولین تصنیف‌هایی است که در آن شعر نو به‌کارگیری شده‌است.[۱۷] از جمله تصنیف‌های شجریان که به زبان محاوره‌ای می‌باشند، می‌توان به تصنیف مگه نه (شعر بیژن سمندر، آهنگ از عطاءالله خرم) اشاره کرد که در همان دوران اجرا شده‌است.[۲۰]
              | اجرای زندهٔ راست‌پنجگاه در سال ۱۳۵۴ در جشن هنر شیراز به‌همراه محمدرضا لطفی و ناصر فرهنگ‌فر، که بعدها در یک آلبوم موسیقی با همین نام منتشر شد، مورد استقبال واقع شد. در آن زمان راست‌پنج‌گاه به‌ندرت اجرا می‌شد و این دستگاه در حال فراموش شدن بود.[۲۱]
              | محمدرضا شجریان در سال ۱۳۵۶ در مسابقهٔ تلاوت قرآن کشوری، رتبهٔ نخست را به دست آورد.[۱۵] و در اسفندماه سال ۱۳۵۷ شرکت دل آواز را بنیان‌گذاری کرد.
              | محمدرضا شجریان در سال ۱۳۵۷ همانند بسیاری از هنرمندان آن زمان همکاری خود را با سازمان‌های دولتی (مثل رادیو)، به‌دلیل «پخش آهنگ‌های مبتذل و تشویق به فرهنگ کاباره‌ای» ادامه نداد.[۱۵][۱۷] البته سایر هنرمندان (گروه‌های شیدا و عارف) و رئیس بخش موسیقی رادیو در آن زمان، هوشنگ ابتهاج نیز آن زمان از رادیو پس از واقعهٔ ۱۷ شهریور به نشانهٔ اعتراض خارج شدند. پس از این اتفاق محمدرضا لطفی کانون چاووش را با حمایت هوشنگ ابتهاج بنیان‌گذاری کرد. بیش‌تر اعضای کانون چاووش همان اعضای گروه‌های شیدا و عارف بودند. در آن زمان، محمدرضا شجریان به‌همراه شهرام ناظری در چند آلبوم مشترک از کانون چاووش آواز خواندن را برعهده گرفتند که بیش‌تر محتوای آن‌ها انقلابی و میهنی بود. از میان آلبوم‌های مشترک شجریان و ناظری می‌توان به چاووش ۲ اشاره کرد که شامل دو سرود بسیار معروف شب‌نورد (برادر نوجوونه، با صدای شجریان) و آزادی (آن زمان که بنهادم، با صدای ناظری) می‌شد. شجریان در مصاحبه با بی‌بی‌سی گفته بود که در آن زمان زیاد انقلابی نبوده (هرچند دولت قبلی را نیز قبول نداشته)، اما چون دوستان او (اعضای کانون چاووش) فعالیت انقلابی داشتند او نیز با آن‌ها همکاری کرده.یکی از سرودهای شناخته شده، چاووش ۶ (امروزه با نام سپیده شناخته می‌شود) می‌باشد که مربوط به کنسرت گروه شیدا با آواز شجریان و به سرپرستی لطفی است و در آذر ۱۳۵۸ در دانشگاه ملی اجرا شده که یک اجرا با محتوای انقلابی بوده. جمعیت بسیاری در این کنسرت حضور داشتند و تصنیف معروف سپیده (ایران ای سرای امید) که مربوط به شعری از هوشنگ ابتهاج و آهنگی از محمدرضا لطفی می‌باشد در همان کنسرت اجرا شده‌است. البته در آن زمان گروه به فکر ضبط اجرا نبود و ضبط این اثر به صورت اتفاقی توسط کیوان ابتهاج (پسر هوشنگ ابتهاج) اتفاق افتاد.او از آن زمان به بعد در خانه به تحقیق و تدوین ردیف‌های آوازی پرداخته و به آموزش شاگردان قدیمی‌اش همت گماشت. برخی از آلبوم‌های چاووش امروزه تصحیح شده‌اند و با تغییر نام توسط مؤسسه فرهنگی و هنری آوای شیدا زیر نظر محمدرضا لطفی بازنشر شده‌اند. از این آثار چاووش‌های ۱ (به یاد عارف)، ۶ (سپیده) و ۹ (جان جان) باحضور شجریان تصحیح شده و با تغییر نام بازنشر شده‌اند.
              | وی در سال ۱۳۵۸ دعای ربنا (برخی آیات قرآن که شجریان آن‌ها را با صوت خوانده) و مناجات مثنوی افشاری را به صورت بداهه و بدون تمرین خواند، ابتدا به قصد این که به هنرجویان آموزش دهد و بهترین را در ماه رمضان برای افطار پخش کنند اما رادیو همان اجرای خودش را پخش کرد و این دعا به مدت سی سال از اصلی‌ترین برنامه‌های رادیو در ماه رمضان بودند
              | در فاصله سال‌های دههٔ ۱۳۶۰، شجریان همکاری گسترده‌ای را با پرویز مشکاتیان آغاز کرد که حاصل آن آلبوم‌هایی چون بیداد، آستان جانان، سرّ عشق (ماهور)، نوا، دستان، گنبد مینا و جان عشاق بود. در این سال‌ها به همراه گروه عارف به سرپرستی مشکاتیان کنسرت‌هایی را در خارج از ایران اجرا کرد.از میان این آثار، آلبوم بیداد به خاطر متأثر بودن محتویات آن از شرایط اجتماعی و سیاسی ایران در اوایل انقلاب و دههٔ ۱۳۶۰ و داشتن حالت اعتراضی بسیار در میان عموم مردم مورد استقبال قرار گرفت. خود محمدرضا شجریان نیز در مصاحبه با بی‌بی‌سی گفته بود که این اثر بیانگر اعتراض آن‌ها به آن شرایط و پیگیری وعده‌های عمل نشده توسط حکومت بوده‌است.
              | محمدرضا شجریان در سال ۱۳۷۰ با همکاری داریوش پیرنیاکان، مرتضی اعیان و جمشید عندلیبی، کنسرت‌هایی را در تور اروپا و آمریکا برگزار کرد که آلبوم‌های پیام نسیم، دل مجنون و سرو چمان حاصل این اجراها می‌باشند.
              | محمدرضا شجریان پس از طلاق از فرخنده گل‌افشان، درحدود ۵۳ سالگی و در سال ۱۳۷۱ با کتایون خوانساری ۲۶ ساله ازدواج کرد. حاصل ازدواج دوم او پسری به‌نام رایان است که در سال ۱۳۷۶ در کانادا متولد شده‌است.
              | در سال ۱۳۷۱ با همکاری گروه آوا آلبوم آسمان عشق را منتشر کرد. مدتی بعد آلبوم مربوط به کنسرت پاریس سال ۱۳۷۲ محمدرضا شجریان به همراه محمدرضا لطفی و مجید خلج در قالب آلبوم چشمه نوش به بازار عرضه شد. شجریان مدتی بعد آلبوم‌های بهاریه، جان عشاق و گنبد مینا که حاصل همکاری خودش با پرویز مشکاتیان در سال‌های دهه ۱۳۶۰ می‌باشند را منتشر کرد. آلبوم قاصدک که آخرین همکاری شجریان با مشکاتیان است نیز در همین دوران اجرا شد اما هیچگاه به صورت رسمی و با کیفیت مناسب به بازار نیامد. آلبوم یاد ایام که حاصل کنسرت آمریکا در تابستان ۱۳۷۱ بود و این اثر اولین آلبوم منتشر شده از همکاری محمدرضا شجریان با پسرش، همایون شجریان بود. یاد ایام در سال ۱۳۷۴ انتشار یافت. مدتی بعد آلبوم رسوای دل با همکاری گروه آوا منتشر شد. وی در سال ۱۳۷۵ نیز در آلبومی با آهنگ‌سازی مجید درخشانی تحت عنوان در خیال همکاری کرد. در سال ۱۳۷۶ آلبوم‌های معمای هستی با همکاری محمدرضا لطفی، عبدالنقی افشارنیا و همایون شجریان و عشق داند که مربوط به بداهه‌خوانی و بداهه‌نوازی به همراه محمدرضا لطفی در سال ۱۳۵۹ بود، منتشر شدند. همچنین در این سال، آلبوم شب وصل با همکاری داریوش طلایی، سعید فرج‌پوری و همایون شجریان به بازار عرضه شد. شجریان در سال ۱۳۷۷، آلبوم شب، سکوت، کویر را با آهنگ‌سازی کیهان کلهر منتشر کرد که بر اساس موسیقی مقامی شمال خراسان با آواز محلی است؛ و در آن برخی سازهای محلی نیز استفاده شده‌اند. حاج قربان سلیمانی در این اثر به هنرمندی پرداخته‌است. محمدرضا شجریان کمی بعد نیز یک بار دیگر با گروه آوا همکاری کرد که حاصل آن دو آلبوم آهنگ وفا و آرام جان بودند.
              | محمدرضا شجریان در سال ۱۳۷۸ جایزه پیکاسو را از طرف سازمان یونسکو دریافت کرد.
              | شجریان با همکاری حسین یوسف‌زمانی آلبوم بوی باران را در سال ۱۳۷۸ منتشر کرد و از سال ۱۳۷۹، همکاری خود را با حسین علیزاده، کیهان کلهر و پسرش همایون آغاز کرد و این همکاری تا اوایل دهه ۱۳۸۰ ادامه داشت. اولین آلبوم حاصل این همکاری زمستان است بود که در سال ۱۳۷۹ به صورت زنده در کالیفرنیا، اجرا و ضبط شد و سپس به بازار آمد. آلبوم زمستان است بر اساس شعر زمستان اثر مهدی اخوان ثالث اجرا شده‌است.
              | محمدرضا شجریان در سال ۱۳۸۱ دو آلبوم بی تو بسر نمی‌شود و فریاد را منتشر کرد که با همکاری حسین علیزاده، کیهان کلهر و همایون شجریان اجرا شده بودند. این دو آلبوم نامزد جایزه گرمی شدند.این گروه چهارنفره در زمستان سال ۱۳۸۲ نیز جهت کمک به زلزله‌زدگان بم در تهران کنسرتی برگزار کردند که با نام هم‌نوا با بم شناخته می‌شود. وی درآمد حاصل از فروش دی وی دی این کنسرت را به پروژهٔ باغ هنر بم که خودش آن را تأسیس کرده بود، اختصاص داد. شجریان، علیزاده، کلهر و همایون شجریان در پاییز ۱۳۸۴ نیز یک کنسرت برگزار کردند که حاصل آن آلبوم‌های ساز خاموش و سرود مهر بود و پس از آن دیگر این چهار نفر با یکدیگر همکاری نکردند. از سال ۱۳۸۶، محمدرضا شجریان به همکاری با گروه آوا پرداخت و کنسرت‌هایی در تهران، اصفهان، اروپا، آمریکا و کانادا اجرا کرد. در این دوران، دو اثر به نام‌های غوغای عشق‌بازان (آلبوم صوتی) و کنسرت محمدرضا شجریان و گروه آوا (آلبوم تصویری) به همراه گروه آوا اجرا و به بازار عرضه شد.در همین سال مادر شجریان درگذشت و وی در مراسم ختم مادرش پس از ۳۰ سال، دعای ربنا را دوباره خواند.شجریان اکنون به همراه پسرش همایون شجریان به ترویج و اشاعهٔ موسیقی اصیل و سنتی ایرانی می‌پردازد. پس از برگزاری کنسرت شجریان در ونکوور کانادا، گلوب اند میل، شجریان را افسانهٔ موسیقی شرق معرفی کرد.
              | محمدرضا شجریان در سال ۱۳۸۷ یک گروه موسیقی بنیان‌گذاری کرد و آن را به افتخار جلیل شهناز (نوازندهٔ نامی تار)، گروه شهناز نامید.از جمله اعضای این گروه می‌توان به مژگان شجریان (دختر او) و مجید درخشانی (نوازنده تار و سه تار) اشاره کرد. از آن زمان به بعد، محمدرضا شجریان با این گروه فعالیت داشته‌است. یکی از ویژگی‌های مهم این گروه موسیقی، استفاده از سازهای ابداعی محمدرضا شجریان است که برخی از آن‌ها ویژگی‌هایی دارند که آن‌ها را مناسب جایگزین با سازهای غربی همچون ویولون می‌کند.
              | پس از دهمین دورهٔ انتخابات ریاست جمهوری ایران، محمدرضا شجریان در نامه‌ای به عزت‌الله ضرغامی از وی خواست تا از پخش آثار او در صدا و سیما خودداری کند. وی گفت: «سرودهایی که خوانده به‌ویژه سرود ایران، ای سرای امید متعلق به سال‌های ۱۳۵۷ و ۱۳۵۸ بوده و هیچ ارتباطی با شرایط کنونی ندارد». وی اعلام کرد سازمان صدا و سیما هیچ نقشی در تهیه این آثار نداشته و به حکم قانون و شرع از این سازمان خواسته صدا و آثار او را در هیچ‌یک از واحدهای رادیو و تلویزیون پخش نکند. وی در گفتگو با بی‌بی‌سی گفت: «در شرایطی که مردم در بهت و حیرت هستند و به گفته آقای احمدی‌نژاد، خس و خاشاک به حرکت درآمده‌اند، صدای من در صدا و سیما جایی ندارد. صدای من صدای خس و خاشاک است و همیشه هم برای خس و خاشاک خواهد بود».در همین دوران شجریان تک‌آهنگ زبان آتش را در حمایت از معترضان و در پی اعتراضات سال ۱۳۸۸ با آهنگ‌سازی خودش و تنظیم مجید درخشانی و شعر فریدون مشیری منتشر کرد. پس از این اتفاقات، پخش دعای ربنا نیز در صدا و سیما ممنوع شد.
              | در سال ۱۳۸۹، محمدرضا شجریان به همراه گروه شهناز یک تور کنسرت جهانی برگزار کرد که دو مورد از این کنسرت‌ها منتشر شده‌اند. کنسرت محمدرضا شجریان و گروه شهناز در دبی و اثر دیگر کنسرتی در لندن می‌باشد که به صورت رسمی توسط بی‌بی‌سی پخش شد. مجید درخشانی (سرپرست گروه شهناز)، این دو کنسرت را از موفق‌ترین کنسرت‌های این گروه می‌داند که در آن بسیاری از سازهای ابداعی محمدرضا شجریان مورد استفاده قرار گرفته‌اند.
              | آلبوم‌های بی‌تو بسر نمی‌شود، فریاد، هم‌نوا با بم، جام تهی، ساز خاموش، سرود مهر، غوغای عشق‌بازان، کنسرت محمدرضا شجریان و گروه آوا، آه باران و رندان مست همگی در دههٔ ۱۳۸۰ توسط شرکت دل آواز منتشر شدند.
              | محمدرضا شجریان آلبوم صوتی مرغ خوش‌خوان و دو آلبوم تصویری کنسرت محمدرضا شجریان و گروه شهناز در دبی و کنسرت محمدرضا شجریان و گروه شهناز در تهران که مربوط به همکاری او با گروه شهناز بود را در اوایل دههٔ ۱۳۹۰ منتشر کرد. پس از آن، به صورت موقت با برادران پورناظری (تهمورس پورناظری و سهراب پورناظری) همکاری کرد که حاصل آن آلبوم رنگ‌های تعالی می‌باشد. البته این اثر به صورت رسمی منتشر نشده، بلکه بر روی اینترنت پخش شده‌است. محمدرضا شجریان، بعد از آن، همکاری با برادران پورناظری را قطع کرد و در سال ۱۳۹۳ یک بار دیگر به‌همراه گروه شهناز و با حضور سعید فرج‌پوری یک تور کنسرت جهانی با عنوان سرگشتگان عشق برگزار کرد.
              | سال ۱۳۹۱، شجریان به تبریک زادروز بهرام بیضایی به خانهٔ وی در کالیفرنیا رفت؛ و بهار سال بعد در آواخوانیِ آرش بیضایی در دانشگاه استنفورد حضور یافت.
              | در سال ۱۳۹۴ حسین نوش‌آبادی اعلام کرد که محمدرضا شجریان برای برگزاری کنسرت ممنوعیت قانونی دارد. شجریان در هفتم شهریور ۱۳۹۴ به‌علت عوارض ناشی از سرماخوردگی، در بیمارستان کسری بستری شد.
              | محمدرضا شجریان در پیام ویدئویی برای تبریک نوروز ۱۳۹۵ با چهره‌ای دگرگونه و موهای بسیار کوتاه حاضر شد. برخی سایت‌ها از ابتلای او به سرطان کلیه خبر دادند.
              | خود من هم با یک میهمان ۱۵ ساله‌ای سال‌هاست که آشنا هستم و دوست شدیم با همدیگر و الآن هم من به خاطر همان اینجا ایستاده‌ام و طبق دستور ایشان موهای سرم را هم کوتاه کردم و بچهٔ حرف‌گوش‌کنی شدم و چند وقت دیگر هم در این‌جا هستم، چون آرامش خوبی دارم و خیلی راحتم این‌جا، برای این‌که با این میهمان بتوانیم به تفاهم برسیم ان‌شاءالله. به تفاهم که رسیدیم، راه می‌افتم می‌آیم به سراغ شما هم‌میهنان عزیزم و کارهای هنری‌ام را دنبال خواهم کرد.
          .jAudio--playlist
          .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
            div(data-role='navbar')
              .jAudio--controls
                ul
                  li
                    button.jAudio--control.jAudio--control-prev(data-action='prev')
                      span
                  li
                    button.jAudio--control.jAudio--control-play(data-action='play')
                      span
                  li
                    button.jAudio--control.jAudio--control-next(data-action='next')
                      span
    // /content
    .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
      div(data-role='navbar')
    script(src='resources/js/jaudio.min.js')
    script(src='resources/js/10.js')
