doctype html
html
  head
    title دل آواز
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.min.css')
    script(src='js/jquery.js')
    script(src='js/jquery.mobile-1.4.5.min.js')
    link(rel='stylesheet' type='text/css' href='resources/css/main.min.css')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='stylesheet' href='css/Style.css')
  body(data-theme='b')
    #p2.p2(data-role='page')
      div(data-role='header' data-theme='b' data-position='fixed')
        img.head(src='images/head.png' alt='')
        a.ui-btn.ui-corner-all.ui-shadow.ui-icon-bars.ui-btn-icon-grid.ui-btn-icon-notext(href='#panel-overlay')
      #panel-overlay(data-role='panel' data-display='overlay')
        ul(data-role='listview')
          img.panel(src='images/panel.png')
          li(data-icon='info')
            a(href='/main.jade' data-transition='slide' style='text-align: center;border: none;') صفحه اصلی
          li(data-icon='info')
            a(href='/bio.jade' data-transition='slide' style='text-align: center;border: none;') زندگی نامه
          li(data-icon='info')
            a(href='/aboutus.jade' data-transition='slide' style='text-align: center;border: none;') در باره ما
          li(data-icon='phone')
            a(href='https://www.instagram.com/del.avaaz/' data-transition='slide' target='blank' style='text-align: center;border: none;') صفحه ی ما 
        br
        br
      div(data-role='header')
      // /header
      .ui-content(role='main' style='padding:0;margin-top:-2px;')
        script(type='text/javascript').
          if(!#{internetStatus}){
            $.toast({
                heading: '<h3 class="h3">!دستگاه شما به اینترنت متصل نیست</h3>',
                text: '<a class="a" href="" onclick="window.location=document.URL;" style="margin-right: 80px;margin-top: 5px;">تلاش مجدد</a>',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: false,
                position: 'top-center',
            })
          }
        .jAudio
          audio
          .jAudio--ui
            .jAudio--thumb
            .jAudio--status-bar
              .jAudio--details
              .jAudio--volume-bar
              .jAudio--progress-bar
                .jAudio--progress-bar-wrapper
                  .jAudio--progress-bar-played
                    span.jAudio--progress-bar-pointer
              .jAudio--time
                span.jAudio--time-elapsed 00:00
                span.jAudio--time-total 00:00
          .bio(data-role='collapsible')
            h3 زندگی نامه
            p
              | سیاوش قمیشی (زادهٔ ۲۱ خرداد ۱۳۲۴ در اهواز) ولی اصالتا دزفولی موسیقی‌دان آهنگساز و خواننده سرشناس ایرانی مقیم لس آنجلس است.[۲] سیاوش قمیشی تاکنون ۱۸ آلبوم رسمی موسیقی و ۱۸ تک آهنگ و یک موسیقی فیلم منتشر کرده‌است.[۳] او تاکنون آهنگ‌های موفق بسیاری را برای خوانندگان پاپ ایرانی ساخته‌است. سیاوش قمیشی اولین هنرمند ایرانی است که توانسته‌است برای یک آهنگ، هر چهار بخش اصلی آن یعنی ترانه، آهنگ، تنظیم و خوانندگی را خود به تنهایی انجام بدهد. او به عنوان پایه‌گذار سبک موسیقی ترنس در ایران شناخته می‌شود.[۴] هوادارانش به او لقب مرد بارانی داده‌اند.
              | سیاوش قمیشی کوچکترین فرزند خانوادهٔ خویش است و دو برادر به نام‌های سیروس و سیامک و یک خواهر به نام سیمین دارد.[۱] او در سن ۹ ماهگی به همراه خانواده از اهواز به تهران مهاجرت کرد.[۵] سیاوش ۶ سال داشت که یکی از برادرانش آکاردئون می‌آموخت و مادرش پیانو را زیر نظر یک معلم روس به نام اُلگا می‌آموخت. او از شنیدن صدای نواختن آن‌ها لذت بسیاری می‌برد و در حالی که کودک بود و پایش به پدال‌های پیانو نمی‌رسید به پشت ساز مادرش (پیانو) می‌نشست و با پدال‌های آن بازی می‌کرد. همین بازی‌ها به همراه صداهائی که از این ساز خارج می‌شد به او احساس خوبی می‌داد و رفته رفته سیاوش به موسیقی علاقه‌ای ویژه پیدا کرد.
              | سیاوش ۱۱ سال داشت که هر روز از مسیر مدرسه تا خانه از جلوی یک مغازهٔ کفش فروشی رد می‌شد که در ویترینش یک گیتار برای تزئین دکور آویزان کرده بود. آن گیتار توجه او را به خود تا جایی جلب کرد که یک روز او با پدرش راجع به خرید آن گیتار صحبت کرد اما پدر با این موضوع مخالفت کرد. چندی بعد به مناسبت روز تولد سیاوش، پدر از سر تصمیم خود بازگشت و همان گیتار را برای سیاوش خرید. او مدتی با همان گیتار ناکوک به صورت غیر حرفه‌ای می‌نواخت تا اینکه روزی در یک کاباره که ویگن می‌خواند شرکت کرد. زمانی که ویگن آنتراکتی در میان اجرای خود داده بود، سیاوش فرصت را غنیمت شمرد و نزد او رفت و نحوه کوک گیتار را از او پرسید. ویگن او را به پشت صحنه برد و کوک گیتار را به‌او یاد داد. بعد از آن روز سیاوش مدت‌ها آهنگ‌های ویگن را گوش می‌کرد، می‌خواند و می‌نواخت.
              | سیاوش ۱۳ ساله بود که خواننده‌ای به نام ضیا به او پیشنهاد داد تا به عنوان نوازنده گیتار با او که او هم گیتار می‌زد، همکاری کند. این بار هم پدر با سیاوش مخالفت کرد. بعدها سیاوش از ضیا شعری گرفت و آهنگی را به صورت زمزمه روی آن گذاشت و ضیا هم از آن استقبال کرد. سپس ضیا آن را در رادیو اجرا کرد و آهنگ معروف شد؛ بنابراین سیاوش اولین آهنگ خود را با نام «ای قایقران» برای ضیاء خوانندهٔ معروف آن سال‌ها ساخت.[۵]
              | در تابستان سال ۱۳۳۸ شمسی (۱۹۵۹ میلادی) برادر بزرگتر سیاوش که از لندن به تهران آمده بود، هنگام بازگشت، سیاوش را نیز با خود به لندن برد. سیاوش که ۱۴ ساله بود به لندن نزد خواهر و برادرش رفت و در آنجا تحصیل کرد. زمانی که سیاوش هفده یا هجده ساله بود شب‌ها در کلاب‌ها (باشگاه‌های شبانه) با خوانندگی و نوازندگی در گروه‌های مختلف، خرج زندگی و تحصیل خود را درمی‌آورد. آن زمان موسیقی پاپ در لندن جاری بود و هنوز موسیقی راک به آن صورت شکل نگرفته بود. او چندین سال در انگلستان به عنوان گیتاریست و خواننده (به زبان انگلیسی) در بندهای Avengers و Insects و دیگر بندها به فعالیت پرداخت. فضای آن سال‌های لندن مصادف بود با اوج فعالیت‌های گروه‌های معروف موسیقی آن زمان یعنی گروه‌های رولینگ استونز، بیتلز و پینک فلوید. فضای هنر موسیقی آن سال‌های لندن که با فعالیت‌های گروه‌های معروف موسیقی به نوعی مهد آن روزهای موسیقی دنیا شده بود بسیار بر سبک هنر موسیقی سیاوش قمیشی تأثیر گذاشت و خود او همواره حضوش در لندن آن سال‌ها را یک توفیق بزرگ برای خود می‌داند.
              | او سرانجام موفق به اخذ مدرک کارشناسی ارشد موسیقی در رشته آهنگسازی از دانشگاه Royal Society of Arts واقع در لندن شد.[۵]
              | او با با اعضاء گروه‌هایی که کنسرت اجرا می‌کردند دوست بود و همین دوستی باعث شد که بعد از مدتی فعالیت خود را با یکی از همین گروه‌ها آغاز کند. سیاوش ساز می‌نواخت و اعضا ارکستری که با او دست بودند از این موضوع اطلاع داشتند و وقتی گیتاریست یکی از همین ارکسترها مریض شد و مدت‌ها بود که کسی را به عنوان جانشین وی پیدا نمی‌کردند از سیاوش قمیشی درخواست نمودند تا جایگزین وی شود و این چنین رسماً پیشنهاد همکاری به او دادند. این همکاری بسیار خوب شروع شد و پایه‌گذاری مناسبی بود. سیاوش همکاری خود را به مدت سه سال با این ارکستر Insects ادامه داد و بعد از آن به مدت چهار سال با گروهی به نام Wingers به ادامهٔ فعالیت پرداخت و سرانجام خودش ارکستر مخصوص خودش را پایه گذاشت. ارکستری که جز خودش باقی نوازنده‌های آن غیر ایرانی بودند. وظیفهٔ سیاوش قمیشی در این بند خوانندگی بود و در عین حال به نواختن گیتار هم می‌پرداخت. بعد از مدتی کیبوردیستشان به دلایلی ارکستر را ترک کرد و سیاوش از آن موقع مسئولیت نواختن کیبورد را نیز پذیرفت و جای خالی کیبوردیستِ رفته را پُر کرد. زندگی سیاوش به همین شکل می‌گذشت.
              | سیاوش در ۲۵ سالگی در سال ۱۳۴۹ به ایران بازگشت. در ایران، او به عنوان آهنگساز برای رادیو کار کرد و همچون سال‌های گذشتهٔ اقامتش در لندن، در گروه‌های مختلفی از جمله The Rebels و Black cats فعالیت کرد.
              | در این میان چندین بار به لندن رفت و برگشت. در همین حین همکاری بیشتری نیز با کوروش یغمائی پیدا کرد. بعد از ورود به ایران بندی به نام Stars تشکیل داد و در آن گروه به بازخوانی آهنگ‌های خارجی پرداخت. بعدها در گروهی به نام The Rebels (شورشیان) به همکاری پرداخت.
              | سیاوش قمیشی در تهران به عنوان کیبوردیست و خواننده (به زبان‌های غیر از فارسی از جمله انگلیسی و ایتالیایی) در گروهی به نام The Rebels (ترجمه فارسی: شورشیان) به همراه شهرام شب‌پره (که خود او بنیانگذار این گروه بود)، همایون جمالی و کامبیز معینی همکاری کرد. در این گروه سیاوش قمیشی به عنوان کیبوردیست و خواننده آهنگ‌های با ریتم کند، شهرام شبپره به عنوان جازیست و خواننده آهنگ‌های با ریتم تند، همایون جمالی به عنوان بیسیست و کامبیز معینی به عنوان گیتاریست فعالیت می‌کردند.
              | سیاوش قمیشی در تمام این سال‌ها در گروه‌های مختلف نوازندگی می‌کرد و خوانندگیش به زبان‌های غیر از فارسی از جمله انگلیسی و ایتالیایی و غیره محدود می‌شد. در این سال‌ها گاهی بر روی ترانه‌های فارسی که به دستش می‌رسید آهنگ می‌ساخت و در خانه، پیش خودش ساز می‌زد و آن‌ها را می‌خواند و برخی از آن اجراهای خصوصی خود را با ضبط صوتی که در اختیار داشت ضبط می‌کرد. امروزه برخی از این آهنگ‌ها با کیفیتی پایین در قالب یک آلبوم غیررسمی به نام عروسک شب، گردآوری شده‌اند. در این سال‌ها سیاوش ملودی‌هایی را نیز برای خود ساخته بود که شعری روی آن‌ها نبود و حالت بی‌کلام داشت. آهنگ قصه گل و تگرگ یکی از این آهنگ‌ها بود. عارف با شنیدن آهنگ قصه گل و تگرگ به همراه چند آهنگ دیگر از سیاوش که شعری روی آن‌ها نبود و تنها ملودی بودند، شیفتهٔ آهنگ‌های او شد؛ بنابراین عارف اولین کسی بود که هنر آهنگسازی سیاوش را کشف کرد. او آهنگ قصه گل و تگرگ را به ایرج جنتی عطایی داد تا روی آن شعر بگذارد و قرار شد تا واروژان آن را تنظیم کند. نهایتاً آهنگ قصه گل و تگرگ شکل گرفت و عارف آن را خواند و با این آهنگ اولین همکاری عارف با سیاوش و همچنین سیاوش با واروژان شکل گرفت. قصه گل و تگرگ، اولین آهنگسازی سیاوش قمیشی به صورت رسمی برای ترانه‌های ایرانی بود. این آهنگ به همراه چند آهنگ دیگر که عارف از سیاوش گرفته بود، نه تنها برای عارف بلکه برای کل موسیقی پاپ آن سال‌های ایران، نوعی سبک تازه محسوب می‌شدند. یکی از این آهنگ‌ها، عشق نام دارد که اولین آهنگ شاد سیاوش با ریتم شش و هشت و جزو اولین آهنگ‌های سیاوش برای دیگر خوانندگان است. او بخش‌هایی از این آهنگ را با سوت زده بود که با پیشنهاد عارف و با موافقت سیاوش، این قسمت‌ها با صدای ساکسیفون جایگزین شد. عارف این آهنگ‌ها را به یک دفترخانه (محضر) برد تا با قرارداد محضری، امتیاز آن‌ها را از آن خود کرده و از دستیابی خوانندگان دیگر به این آهنگ‌ها جلوگیری کرده باشد. عارف قبل از ضبط این آهنگ‌ها، در مصاحبه با مجله زن روز نسبت به موفقیت این ترانه‌ها بسیار ابراز خوش‌بینی کرده بود و آن‌ها را نقطه عطفی در خوانندگی خود می‌دانست. سیاوش در مصاحبه با همین مجله گفته بود که قصه گل و تگرگ، آهنگی تازه و جالب است و در این آهنگ از بم‌ترین صدای عارف تا نهایت صدای او استفاده شده‌است. سیاوش اعتقاد داشت که آهنگسازان قبلی از تمام قدرت و وسعت صدای عارف استفاده نکرده‌اند. عارف بعد از خواندن این آهنگ‌ها یک ماشین آلفارومئو که مورد علاقه خود سیاوش بود، برایش خرید. سیاوش، عارف را دوست قدیمی و صمیمی خود می‌داند.
              | گفتنی است آهنگ قصه گل و تگرگ (با خوانندگی عارف) جزو معدود همکاری‌های سیاوش قمیشی با واروژان است. سیاوش در مجموع ۴ آهنگ خود را در آن سال‌ها با تنظیم واروژان به عارف داد. سیاوش بعد از همکاری با عارف، به تدریج برخی از آهنگ‌های خود را به خوانندگان دیگر هم داد و این چنین نامش به عنوان یک آهنگساز در میان دیگر آهنگسازان مطرح شد. سیاوش قمیشی در سال ۱۳۷۴ آلبومی را با عنوان قصه گل و تگرگ منتشر کرد که در آن، آهنگ قصه گل و تگرگ را این بار با تنظیم استیو مک کرام خوانده‌است.
              | سیاوش در سال ۱۳۵۳ آلبوم فرنگیس را که بیشتر تنظیم‌های آن را ناصر چشم آذر انجام داده بود، منتشر کرد. در این آلبوم آهنگی وجود داشت به نام فرنگیس که به سرعت در میان مردم محبوب شد و برای اولین بار نام سیاوش قمیشی بر سر زبان‌ها افتاد. در آن دوران کمپانی خاصی برای پخش این آلبوم وجود نداشت به همین علت این آلبوم توسط مردم کپی و دست به دست می‌شد. اما بعدها توسط چهار کمپانی: «آرت کو»، «آواز»، «ترانه» و «پارس ویدئو» منتشر شد که با فروش بسیار خوبی نیز روبرو گردید. سیاوش قمیشی تأکید می‌کند که ارائهٔ آلبوم «فرنگیس» تنها برای سرگرم شدن بوده و او قصد نداشته‌است تا با این آلبوم تبدیل به یک خواننده شود اما وقتی که در سال ۱۳۷۱ (۱۹۹۲) «مسعود فردمنش» به او پیشنهاد داد که کاری مشترک ارائه دهند و چندین شعر (که بارزترین آن‌ها به گفتهٔ سیاوش پرنده‌های قفسی بود) در اختیار سیاوش قرار داد، انتشار آلبوم جدید را قبول کرد. به این ترتیب سیاوش قمیشی از سن ۴۷ سالگی رسماً خوانندگی را آغار نمود و آلبوم «حکایت» را منتشر ساخت که مورد توجه بسیار زیادی قرار گرفت.
              | سیاوش در این سال‌ها برای خوانندگان مختلفی همچون عارف، امیر رسایی، ابی، داریوش، رامش، بتی، افشین مقدم و دیگران آهنگسازی کرد. در سال ۱۳۵۶ موسیقی فیلم بوی گندم به کارگردانی امیر مجاهد و فرزان دلجو به او سپرده شد. همچنین سازمان رادیو و تلویزیون ملی ایران آهنگسازی برای موزیک پخش بازی‌های جام جهانی فوتبال ۱۹۷۸ آرژانتین را به او سپرد. این آهنگ قرار بود که با صدای لیلا فروهر پخش شود. متأسفانه اطلاعات دقیقی از ضبط این آهنگ در دست نیست.
              | سیاوش قمیشی سرانجام در سال ۱۳۵۷ (۱۹۷۸) و پس از انقلاب به همراه تعداد زیادی از هنرمندان ایران را ترک کرد. او ابتدا به انگلستان رفت و بعد از چند ماه، در سال ۱۹۷۹ به شهر لس آنجلس آمریکا رفت و تاکنون در این شهر اقامت دارد. او ایران را ترک کرد چرا که او موسیقی‌دان بود و همان‌طور که خود می‌گوید به غیر از موسیقی کار دیگری بلد نبود و رژیم بعدی را مخالف با موسیقی می‌دیده‌است.
              | سال‌های اول زندگی در لس آنجلس برای سیاوش و دیگر خوانندگان و هنرمندان ایرانی بسیار سخت و دشوار گذشت. سیاوش در همان اولین ماه‌های ورود به آمریکا، در شهر یونیورسال سیتی کالیفرنیا شب‌ها به کلاب‌ها می‌رفت و موسیقی آن‌ها را تماشا می‌کرد. در همین کلاب‌ها با گروهی آشنا شد که به دنبال یک نوازندهٔ کیبورد و خواننده بودند. سیاوش حدود یک سال با آن‌ها که ۴ نفر آمریکایی بودند همکاری کرد. در همان ماه‌های اول ورودش به آمریکا بود که با کمک دوستش آلبوم خواب بارون را منتشر کرد. بعد از آن، به مدت چندین سال نخواند و فقط به کار آهنگسازی برای خوانندگان روی آورد و سرانجام در سال ۱۳۷۱ با همکاری مسعود فردمنش آلبوم حکایت را منتشر کرد و با این آلبوم رسماً فعالیت‌های خوانندگی خود را تا به امروز ادامه داده‌است.
              | سیاوش قمیشی عاشق فصل پاییز و باران و گل‌ها و درخت‌ها و حیوانات است. در اکثر آثار او این عناصر نیز به چشم می‌خورند. او بیش از هر چیز عاشق حرفهٔ آهنگسازی و کار در استودیو است. او به نقاشی و نویسندگی نیز علاقه‌مند است اما هیچگاه در این دو عرصه فعالیتی نداشته‌است. او در خانه خودش گلدان‌هایی دارد که بسیار به آن‌ها می‌رسد و آن‌ها را دوست دارد. همچنین به سگ‌ها و گربه‌ها بسیار علاقه دارد. سیاوش قمیشی غم را به خاطر عمق زیادش دوست دارد اما بر خلاف فضای غمناک بیشتر آهنگ‌هایش، انسانی شاد، امیدوار و شوخ‌طبع است. او حال و هوای آهنگ‌هایش را ناشی از شعر آن‌ها می‌داند. او سادگی و صداقت را از ویژگی‌های موسیقی و خصوصیات رفتاری خودش می‌داند. سیاوش بیشتر وقت خود را در خانه می‌گذراند. شب‌ها تا دیروقت بیدار است و به موزیک گوش کردن و کتاب خواندن و ساز زدن (بیشتر به شکل بداهه نوازی) مشغول است.
              | سیاوش قمیشی اولین هنرمند ایرانی است که توانسته‌است برای خود هم ترانه بگوید، هم آهنگسازی کند و هم خواننده آن باشد. او به مدت چندین سال هم در ایران و هم در خارج از ایران هیچگاه قصد خواننده شدن به زبان فارسی را نداشت و یکی از دلایل وقفه‌های طولانی و چندین ساله بین آهنگ‌ها و آلبوم‌های او تا قبل از سال ۱۳۷۱ (یعنی مجموعه آهنگ‌های عروسک شب، آلبوم فرنگیس و آلبوم خواب بارون)؛ همین مسئله بوده‌است. او حرفهٔ خوانندگی را به‌طور جدی در سال ۱۳۷۱ زمانی که ۴۷ سال داشت با آلبوم حکایت شروع کرد.
              | سیاوش قمیشی چندان به برگزاری کنسرت برای خود علاقه‌ای ندارد. او همواره پیگیر موسیقی روز دنیاست و به موسیقی‌های معتبر و روز دنیا گوش می‌دهد و همانگونه که خود می‌گوید سعی می‌کند تا قسمت‌های خوب آن موسیقی‌ها را در موسیقی خود پیاده کند و سعی در ارائه کارهایی با کیفیت بالا دارد. این مسئله در دو آلبوم نقاب و بی‌سرزمین تر از باد نیز اتفاق افتاد و سیاوش قمیشی این دو آلبوم را بر جریان موسیقی داخل ایران تأثیرگذار می‌داند. سیاوش قمیشی تاکنون به سبک‌های راک، پاپ، ترنس و هاوس موسیقی ساخته و خوانده‌است و همانگونه که در وبسایتش آمده به عنوان پدر موسیقی ترنس در ایران شناخته می‌شود.
              | سیاوش قمیشی با ترانه‌سرایان و تنظیم‌کنندگان خوب و جوان مقیم ایران همکاری نزدیکی دارد. در وب‌سایت او قسمتی برای فرستادن ترانه وجود دارد تا هر کسی بتواند از این طریق ترانه خود را ارسال کند. این ترانه‌های ارسالی که تعداشان بسیار زیاد می‌باشند توسط سیاوش قمیشی بررسی شده و ممکن است بهترین‌های آن‌ها برای تک‌آهنگ‌های جدید انتخاب شوند.
              | سیاوش قمیشی، آن دسته از خوانندگانی را که شبیه به او می‌خوانند دوست دارد و از آن‌ها ناراحت نمی‌شود. چون این موضوع را نشان دهندهٔ علاقه و توجه آن‌ها به سبک خودش می‌داند. اما به آن‌ها توصیه می‌کند تا شخصیت هنری و خلاقیت خودشان را داشته باشند و از شبیه کار کردن و کپی کاری پرهیز کنند تا شخصیت مستقل هنری خود را داشته باشند. سیاوش قمیشی در زمینه موسیقی رپ، سروش لشکری با نام هنری هیچ‌کس را به عنوان یکی از بهترین‌های ایران از نظر طرز اجرای فنی صحیح این موسیقی معرفی کرده‌است. سیاوش قمیشی در سال‌های اخیر به دلیل مشکلات اقتصادی که برای کمپانی‌های پخش موسیقی در آمریکا به وجود آمده‌است، مانند بسیاری از خوانندگان دیگر ایرانی ساکن آمریکا، به ساختن تک آهنگ به فاصلهٔ هر چند ماه یک بار روی آورده‌است.
              | سیاوش قمیشی بارها از زندگی در شهر شلوغ لس آنجلس انتقاد کرده‌است و قصد مهاجرت از لس آنجلس به شهری دیگر برای سکونت داشته‌است اما هر بار به دلیلی موفق به انجام این کار نشده‌است.
          .jAudio--playlist
          .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
            div(data-role='navbar')
              .jAudio--controls
                ul
                  li
                    button.jAudio--control.jAudio--control-prev(data-action='prev')
                      span
                  li
                    button.jAudio--control.jAudio--control-play(data-action='play')
                      span
                  li
                    button.jAudio--control.jAudio--control-next(data-action='next')
                      span
    // /content
    .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
      div(data-role='navbar')
    script(src='resources/js/jaudio.min.js')
    script(src='resources/js/13.js')
