doctype html
html
  head
    title دل آواز
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.min.css')
    script(src='js/jquery.js')
    script(src='js/jquery.mobile-1.4.5.min.js')
    link(rel='stylesheet' type='text/css' href='resources/css/main.min.css')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='stylesheet' href='css/Style.css')
  body(data-theme='b')
    #p2.p2(data-role='page')
      div(data-role='header' data-theme='b' data-position='fixed')
        img.head(src='images/head.png' alt='')
        a.ui-btn.ui-corner-all.ui-shadow.ui-icon-bars.ui-btn-icon-grid.ui-btn-icon-notext(href='#panel-overlay')
      #panel-overlay(data-role='panel' data-display='overlay')
        ul(data-role='listview')
          img.panel(src='images/panel.png')
          li(data-icon='info')
            a(href='/main.jade' data-transition='slide' style='text-align: center;border: none;') صفحه اصلی
          li(data-icon='info')
            a(href='/bio.jade' data-transition='slide' style='text-align: center;border: none;') زندگی نامه
          li(data-icon='info')
            a(href='/aboutus.jade' data-transition='slide' style='text-align: center;border: none;') در باره ما
          li(data-icon='phone')
            a(href='https://www.instagram.com/del.avaaz/' data-transition='slide' target='blank' style='text-align: center;border: none;') صفحه ی ما 
        br
        br
      div(data-role='header')
      // /header
      .ui-content(role='main' style='padding:0;margin-top:-2px;')
        script(type='text/javascript').
          if(!#{internetStatus}){
            $.toast({
                heading: '<h3 class="h3">!دستگاه شما به اینترنت متصل نیست</h3>',
                text: '<a class="a" href="" onclick="window.location=document.URL;" style="margin-right: 80px;margin-top: 5px;">تلاش مجدد</a>',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: false,
                position: 'top-center',
            })
          }
        .jAudio
          audio
          .jAudio--ui
            .jAudio--thumb
            .jAudio--status-bar
              .jAudio--details
              .jAudio--volume-bar
              .jAudio--progress-bar
                .jAudio--progress-bar-wrapper
                  .jAudio--progress-bar-played
                    span.jAudio--progress-bar-pointer
              .jAudio--time
                span.jAudio--time-elapsed 00:00
                span.jAudio--time-total 00:00
          .bio(data-role='collapsible')
            h3 زندگی نامه
            p
              | ویگن دِردِریان (به ارمنی: Վիգէն Տէրտէրեան) با نام هنری «ویگن» (زادهٔ ۲ آذر ۱۳۰۸ – درگذشتهٔ ۴ آبان ۱۳۸۲) خوانندهٔ موسیقی سبک‌های جاز و پاپ و هنرپیشهٔ فیلم در سال‌های ۱۳۵۱–۱۳۳۴ خورشیدی، از ایرانیان ارمنی‌تبار بود.
              | او یکی از نخستین خواننده‌های ایران بود که با گیتار در صحنه ظاهر شد و ایرانیان او را به عنوان «سلطان جاز» می‌شناختند[۸] او هنرمندی بود که از همان ابتدا با سبکی نو وارد دنیای موسیقی پاپ شد و همین امر رفته‌رفته بر معروفیتش افزود. ویگن علاوه بر موسیقی در زمینهٔ سینما نیز فعالیت داشت و در سال‌های دهه‌های سی و چهل خورشیدی در چند فیلم سینمایی نقش آفرید.
              | بخش نخست فعالیت خوانندگی وی در «عصر طلایی موسیقی پاپ ایرانی» یعنی از اوایل دهه ۱۹۷۰ میلادی تا زمان انقلاب ۱۳۵۷ (۱۹۷۹ میلادی) بود که وی مجبور به ترک ایران شد و بخش دوم آن از نیز زمان مهاجرتش به ایالات متحده آمریکا آغاز گشت که تا زمان درگذشتش در سال ۱۳۸۲ ادامه یافت.
              | ویگن در ۲ آذر ۱۳۰۸ برابر با ۲۳ نوامبر ۱۹۲۹ در شهر همدان به دنیا آمد.[۱] پدربزرگ مادری‌اش اهل همدان بود اما پدرش از بازماندگان خانواده‌ای بود که تمامی اعضای آن در نسل‌کشی ارمنی‌ها کشته شده بودند و او از ترکیه به ایران گریخته و دست سرنوشت او را به باغ پدربزرگ مادری ویگن کشانده بود. آنها هم به او اجازه داده بودند تا در باغ زندگی کند. پس از مدتی هم پدر و مادر ویگن عاشق یکدیگر شده و با هم ازدواج کرده بودند. حاصل این ازدواج هشت فرزند بود، پنج پسر به نام‌های زاون، ویگن، کارو، هراند و واهه و سه دختر به نام‌های ژولیت، هلن و آرمینه. ویگن چهارمین فرزند خانواده بود.[۹] در خانواده‌ای پرجمعیت به دنیا آمد و به همین خاطر تحصیلاتش را نیمه تمام گذاشت تا همراه برادر بزرگش در شرکت «کامپساکس» (تأسیسات راه‌آهن) کار کند.[۱۰] تحصیلات متوسطه را در سال ۱۳۳۰ خورشیدی (۱۹۵۱ میلادی) تمام کرد. او که شغل نقشه‌برداری داشت در ابتدا با خواندن در کافه‌ها محبوب دوستداران موسیقی مردم‌پسند پاپ شد. اجرای آهنگ در رادیو تهران او را به شهرت رساند. صدای گرم او که با نواختن گیتارش همراه می‌شد، با شعرهایی با مضمون‌های تازه و ملودی‌های نو چهره تازه‌ای در صحنه موسیقی ایران عرضه کرد.[۱۱]
              | همچنین «کارو» (شاعر معاصر) برادر وی می‌باشند.
              | از نوجوانی به موسیقی علاقه داشت. در دوره حضور قوای متفقین در همدان، گیتاری دست دوم از یک سرباز آمریکایی، به قیمت چهار تومان، خرید و:
              | ... بعد هم پیش شوهر خواهرم که می‌دانست گیتار را چطور باید زد، چیزهای یادگرفتم.
              | او از همین سال‌ها، به جهت صدای خوش و استعدادش در خواندن ترانه‌های ارمنی، فارسی و اسپانیایی، در کافه‌های همدان برنامه اجرا می‌کند. در بیست و دو سالگی به تهران می‌آید و از سال ۱۳۳۰ در کافه رستوران باغ شمیران (تقاطع خیابان فردوسی و استانبول) بر صحنه می‌رود. تفاوت جنس صدا و نوع موسیقی ویگن، او را به عنوان خوانندهٔ جاز به شهرت می‌رساند و کافه شمیران تبدیل می‌شود و به پاتوق روشنفکران و شاعران «موج نویی» (بیشتر به لطف حضور برادر ویگن: کاروی شاعر) و دوستداران موسیقی جاز و پاپ آن دوره.[۱۰][۱۲]
              | اولین ترانه‌ای که ویگن اجرا کرد «سلام بر غم» نام دارد که شعرش را کارو، برادرش سروده بود.[۱۳]
              | ناصر رستگارنژاد، ترانه‌سرای معروف، به یاد می‌آورد که:
              | «شبی در کافه باغ شمیران با یکی از دوستان نشسته بودیم، دیدیم جوانی بلند بالا با صدای بسیار خوب، ترانه‌های غربی و ارمنی می‌خواند. او را سر میز خود دعوت کردیم و با او بیشتر آشنا شدیم تا آنجا که همان شب رفتیم به کنار و من همان شب ترانهٔ معروف «رقیب» را ساختم. بعد هم چند روز بعد رفتیم به رادیو و این ترانه را که اولین ترانهٔ رسمی ویگن به حساب می‌آید ضبط کردیم …»
              | بعدها که ویگن برای خدمت سربازی به آبادان می‌رود در آنجا برای سربازان آواز می‌خواند تا یک روز که خبر آوازخوانی وی به گوش فرمانده‌شان می‌رسد. فرمانده با شنیدن صدای ویگن از او می‌خواهد که در باشگاه افسران روی سن برایشان آواز بخواند.
              | از نوجوانی در گروه‌های کلیسا آواز می‌خواند و در سال‌های ۱۳۳۳–۱۳۲۹ به خواندن ترانه‌های روز در کافه‌های تهران و شمیران پرداخت. دو روزنامه‌نگار مشهور، سیامک پورزند و جمشید وحیدی، استعداد او را کشف کردند و او را به رادیو آوردند. به زودی صدای استثنایی، استعداد موسیقی، چهره و اندام ورزنده و جذاب و شخصیت انسان دوست ویگن، او را تبدیل به پرفروش‌ترین خوانندهٔ روز کرد و نمونه ایرانی از شخصیت «سلطان» پاپ دنیای آن روز الویس پریسلی (۱۹۷۷–۱۹۳۵) تلقی شد.
              | در سال ۱۳۳۳ ویگن ترانهٔ مهتاب را (که بعداً در آلبومی به همین نام منتشر شد) خواند. این ترانه را آغاز عصری نو در موسیقی ایرانی می‌دانند چرا که برای اولین بار، موسیقی ایرانی با سازهای تماماً غیر ایرانی اجرا شد.
              | خود ویگن در گفتگوهایش از نقش جمشید وحیدی (روزنامه‌نگار و طنزپرداز) هم در راه‌یابی اش به رادیو یاد کرده‌است اما نقش عطاالله خرم را نباید از یاد برد که آهنگ «رقیب»، و پس از آن، آهنگ‌های بسیاری از ترانه‌های مشهور و ماندگار ویگن را
              | کارنامهٔ هنری ویگن، فهرست مفصلی از آهنگ‌هایی را نشان می‌دهد که از ملودی‌های فارسی، ارمنی، ایتالیایی، فرانسوی، ترکی و حتی خراسانی، مایه گرفته و با همکاری موسیقی‌دان ورزیده‌ای چون عطاالله خرم و زاون اوهانیان و شاعران برجسته‌ای مانند تورج نگهبان و پرویز وکیلی به اوج شهرت رسید. جواد معروفی، رهبر ارکستر گل‌ها، با درک استعداد ویگن، از او خواست اجرای چند آهنگ ارمنی تنظیم شده برای ارکستر را در برنامه گل‌های صحرایی و یک شاخه گل به عهده بگیرد که از بین آنها «ساری گلین» با کلامی ساخته شده از جمشید ارجمند (نویسنده و منتقد سینمایی در سال ۱۳۴۰) مشهور است. ویگن از آن به بعد در گل‌ها فعالیت نداشت اگر چه اولین خوانندهٔ پاپ بود که به این برنامه اجازهٔ ورود یافت.
              | اگرچه بیشتر ترانه‌های ویگن به زبان فارسی بود ولی او به زبان‌های دیگر و به خصوص زبان مادریش، ارمنی نیز می‌خواند.
              | ویگن با ورود به رادیو، لقب «سلطان جاز ایران» را به دست آورد و در سال ۱۳۳۲، باز هم به دعوت خاچیکیان، به جمع استودیو دیانا و بازیگران فیلم «چهارراه حوادث» پیوست.
              | او خود نیز چند آهنگ ساخت و در دهه ۱۳۳۰ و ۱۳۴۰ از محبوب‌ترین خواننده‌های ایران بود.
              | همچنین وی با چند تن از خوانندگان نام آشنایی چون دلکش، پوران و هایده الهه و … ترانه‌های دو صدایی اجرا کرد.
              | نوع موسیقی او کلاسیک و پاپ بود، و گاه از ملودی‌های اروپایی بهره می‌برد، که به «جاز ایرانی» معروف شد و به او لقب «سلطان جاز» ایران را دادند، اگر چه موسیقی او ارتباطی با موسیقی جاز نداشت.
              | ویگن بر اثر بیماری سرطان پروستات در روز یکشنبه ۴ آبان ماه سال ۱۳۸۲ برابر با ۲۶ اکتبر ۲۰۰۳ در سن ۷۳ سالگی در شهر لس‌آنجلس در ایالت کالیفرنیا درگذشت و در «گورستان پیرس برادرز ولی اوکس» در وست لیک ویلج، کالیفرنیا به خاک سپرده شد.
          .jAudio--playlist
          .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
            div(data-role='navbar')
              .jAudio--controls
                ul
                  li
                    button.jAudio--control.jAudio--control-prev(data-action='prev')
                      span
                  li
                    button.jAudio--control.jAudio--control-play(data-action='play')
                      span
                  li
                    button.jAudio--control.jAudio--control-next(data-action='next')
                      span
    // /content
    .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
      div(data-role='navbar')
    script(src='resources/js/jaudio.min.js')
    script(src='resources/js/15.js')
