doctype html
html
  head
    title دل آواز
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.min.css')
    script(src='js/jquery.js')
    script(src='js/jquery.mobile-1.4.5.min.js')
    link(rel='stylesheet' type='text/css' href='resources/css/main.min.css')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='stylesheet' href='css/Style.css')
    script(src='js/script.js')

  body(data-theme='b')
    #p2.p2(data-role='page')
      div(data-role='header' data-theme='b' data-position='fixed')
        img.head(src='images/head.png' alt='')
        a.ui-btn.ui-corner-all.ui-shadow.ui-icon-bars.ui-btn-icon-grid.ui-btn-icon-notext(href='#panel-overlay')
      #panel-overlay(data-role='panel' data-display='overlay')
        ul(data-role='listview')
          img.panel(src='images/panel.png')
          li(data-icon='info')
            a(href='/main.jade' data-transition='slide' style='text-align: center;border: none;') صفحه اصلی
          li(data-icon='info')
            a(href='/bio.jade' data-transition='slide' style='text-align: center;border: none;') زندگی نامه
          li(data-icon='info')
            a(href='/aboutus.jade' data-transition='slide' style='text-align: center;border: none;') در باره ما
          li(data-icon='phone')
            a(href='https://www.instagram.com/del.avaaz/' data-transition='slide' target='blank' style='text-align: center;border: none;') صفحه ی ما 
        br
        br
      div(data-role='header')
      // /header
      .ui-content(role='main' style='padding:0;margin-top:-2px;')
         script(type='text/javascript').
          if(!#{internetStatus}){
            $.toast({
                heading: '<h3 class="h3">!دستگاه شما به اینترنت متصل نیست</h3>',
                text: '<a class="a" href="" onclick="window.location=document.URL;" style="margin-right: 80px;margin-top: 5px;">تلاش مجدد</a>',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: false,
                position: 'top-center',
            })
          }
        .jAudio
          audio
          .jAudio--ui
            .jAudio--thumb
            .jAudio--status-bar
              .jAudio--details
              .jAudio--volume-bar
              .jAudio--progress-bar
                .jAudio--progress-bar-wrapper
                  .jAudio--progress-bar-played
                    span.jAudio--progress-bar-pointer
              .jAudio--time
                span.jAudio--time-elapsed 00:00
                span.jAudio--time-total 00:00
          .bio(data-role='collapsible')
            h3 زندگی نامه
            p
              | فائقه آتشین با نام هنری گوگوش (زادهٔ ۱۵ اردیبهشت ۱۳۲۹ خورشیدی در تهران) خواننده و هنرپیشهٔ مشهور ایرانی است. او از محبوب‌ترین خوانندگان تاریخ موسیقی ایران به‌شمار می‌رود و در کشورهای آسیای میانه و خاورمیانه دوستداران بسیاری دارد.
              | در سال‌های دههٔ هفتاد میلادی و پیش از انقلاب ایران او را «شاه‌ماهی موسیقی ایران» می‌نامیدند. این لقب بعد از بازگشت او به آمریکا دوباره بر سر زبان‌ها افتاد و در تبلیغات رادیو تلویزیونی تور بازگشت از این نام بسیار استفاده شد.
              | فائقه آتشین در تهران زاده شد. خانوادهٔ وی اصالتاً از آذربایجانی‌هایی بودند که از آذربایجان شوروی به ایران مهاجرت کرده‌بودند. پدر گوگوش از اهالی شهر سراب بود، پدر و مادر گوگوش هنگامی که وی ۲ سال داشت از یکدیگر جدا شدند.
              | گوگوش نامی ارمنی برای پسران است. در کودکی دایه ارمنی‌اش او را با این نام صدا می‌کرد و بعدها این نام را به عنوان نام هنری‌اش برگزید. اما عده‌ای می‌گویند این نام را از پسر همسایه ارمنی خود گرفته‌است؛ البته عشق کودکی وی نیز در این امر بی‌تأثیر نبوده‌است. اما آن طور که گوگوش در مصاحبهٔ مفصل خود با خانم هما احسان توضیح داده، این اسم را پدرش برای وی انتخاب کرده، اما ادارهٔ ثبت احوال به علت عجیب بودن این اسم از ثبت آن در شناسنامهٔ نوزاد خودداری می‌کند و از پدر وی می‌خواهد که یک اسم ایرانی یا عربی برای وی انتخاب نماید که در نهایت پدر وی نام فائقه را برای نوزاد برمی‌گزیند. اما در خانه و به‌طور کلی مکان‌های غیررسمی از همان کودکی وی را گوگوش صدا می‌زنند.
              | او پس از انقلاب به دادگاه‌های انقلاب اسلامی احضار شد.با وقوع انقلاب ایران در سال ۱۳۵۷ و برپایی نظام جمهوری اسلامی، موسیقی پاپ و آوازخوانی زنان در محافل عمومی ممنوع اعلام شد. با وجود آن‌که اکثر هنرمندان ایرانی، مهاجرت از ایران را انتخاب کردند؛ گوگوش که به هنگام وقوع انقلاب در ایالات متحده به سر می‌برد، به ایران بازگشت؛ و گوشه‌گیری در پیش گرفت.
              | با وجود حاکمیت نظام اسلامی بر ایران، ترانه‌ها و موزیک ویدیوهای گوگوش به وفور و سهولت در ایران یافت می‌شد و گوگوش هم‌چنان طرفداران بیشتری را جذب می‌کرد. با انتخاب محمد خاتمی به عنوان رئیس‌جمهور ایران در سال ۱۳۷۶ بسیاری از محدودیت‌های پیشین برداشته شد. به برخی از زنان (گوگوش میان آنان نبود) اجازه داده شد تا در محافلی که همهٔ حضار، زن باشند به اجرای برنامه بپردازند. اگرچه پخش و توزیع موسیقی پاپ هم‌چنان ممنوع بود، ولی مالکیت آن مشکلی نداشت.
              | گوگوش بعد از بیست و یک سال سکوت و گوشه‌گیری در ایران، در سال ۱۳۷۹ موفق به کسب گذرنامه شد و با خروج از ایران فعالیت هنری خود را با ارائه آلبوم زرتشت که بخشی از آن در ایران به صورت مخفیانه ضبط و در کانادا تکمیل و پخش شده بود، از سرگرفت و به انجام سری کنسرت‌های بازگشت پرداخت که با استقبال بی‌نظیر ایرانیان و فارسی‌زبانان خارج از ایران مواجه شد.
              | وی در سال ۱۳۸۳ آلبوم آخرین خبر و در سال ۱۳۸۵ آلبوم مانیفست را منتشر کرد که مورد استقبال شدید دوستداران وی قرار گرفت. او بعد از ۲ سال سکوت مجدد، تور سال ۲۰۰۵ آمریکا را آغاز کرد که اولین کنسرت آن در تاریخ ۱۷ سپتامبر در فروم لس‌آنجلس اجرا شد.
          .jAudio--playlist
          .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
            div(data-role='navbar')
              .jAudio--controls
                ul
                  li
                    button.jAudio--control.jAudio--control-prev(data-action='prev')
                      span
                  li
                    button.jAudio--control.jAudio--control-play(data-action='play')
                      span
                  li
                    button.jAudio--control.jAudio--control-next(data-action='next')
                      span
    // /content
    .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
      div(data-role='navbar')
    script(src='resources/js/jaudio.min.js')
    script(src='resources/js/2.js')
