doctype html
html
  head
    title دل آواز
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.min.css')
    script(src='js/jquery.js')
    script(src='js/jquery.mobile-1.4.5.min.js')
    link(rel='stylesheet' type='text/css' href='resources/css/main.min.css')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='stylesheet' href='css/Style.css')

  body(data-theme='b')
    #p2.p2(data-role='page')
      div(data-role='header' data-theme='b' data-position='fixed')
        img.head(src='images/head.png' alt='')
        a.ui-btn.ui-corner-all.ui-shadow.ui-icon-bars.ui-btn-icon-grid.ui-btn-icon-notext(href='#panel-overlay')
      #panel-overlay(data-role='panel' data-display='overlay')
        ul(data-role='listview')
          img.panel(src='images/panel.png')
          li(data-icon='info')
            a(href='/main.jade' data-transition='slide' style='text-align: center;border: none;') صفحه اصلی
          li(data-icon='info')
            a(href='/bio.jade' data-transition='slide' style='text-align: center;border: none;') زندگی نامه
          li(data-icon='info')
            a(href='/aboutus.jade' data-transition='slide' style='text-align: center;border: none;') در باره ما
          li(data-icon='phone')
            a(href='https://www.instagram.com/del.avaaz/' data-transition='slide' target='blank' style='text-align: center;border: none;') صفحه ی ما 
        br
        br
      div(data-role='header')
      // /header
      .ui-content(role='main' style='padding:0;margin-top:-2px;')
         script(type='text/javascript').
            if(!#{internetStatus}){
              $.toast({
                  heading: '<h3 class="h3">!دستگاه شما به اینترنت متصل نیست</h3>',
                  text: '<a class="a" href="" onclick="window.location=document.URL;" style="margin-right: 80px;margin-top: 5px;">تلاش مجدد</a>',
                  showHideTransition: 'fade',
                  icon: 'error',
                  hideAfter: false,
                  position: 'top-center',
              })
            }
        .jAudio
          audio
          .jAudio--ui
            .jAudio--thumb
            .jAudio--status-bar
              .jAudio--details
              .jAudio--volume-bar
              .jAudio--progress-bar
                .jAudio--progress-bar-wrapper
                  .jAudio--progress-bar-played
                    span.jAudio--progress-bar-pointer
              .jAudio--time
                span.jAudio--time-elapsed 00:00
                span.jAudio--time-total 00:00
          .bio(data-role='collapsible')
            h3 زندگی نامه
            p
              | فریدون فروغی (زاده ۹ بهمن ۱۳۲۹ − درگذشته ۱۳ مهر ۱۳۸۰) آهنگساز، نوازنده و خواننده ایرانی بود.
              | فروغی در سال ۱۳۲۹ در شهرستان بوئین زهرا در استان قزوین متولد شد. پدرش فتح‌الله کارمند ادارهٔ دخانیات بود و در تنهایی خود به سرودن شعر و نواختن تار می‌پرداخت. خانوادهٔ او از ملاکان بزرگ نراق بودند. او تنها پسر خانواده بود و سه خواهر به نام‌های پروانه، عفت و فروغ داشت. در سال ۱۳۳۵ و در شش‌سالگی، تحصیل را آغاز کرد و عاقبت در سال ۱۳۴۷ مدرک دیپلم علوم طبیعی را گرفت و پس از آن دیگر تحصیل را رها کرد. وی موسیقی را بدون داشتن استاد و با توجه به علاقه‌ای که به موسیقی راک و به‌خصوص آثار ری چارلز داشت، با تمرین می‌آموخت.
              | درسال ۱۳۵۰، خسرو هریتاش، کارگردان فیلم آدمک در تلاش برای پیدا کردن خواننده‌ای تازه‌نفس بود که فریدون فروغی به او معرفی می‌گردد و با یک‌بار زمزمه کردن ترانه‌ها، خسرو هریتاش متوجه می‌شود که شخصی را که به دنبالش بوده یافته‌است. در نتیجه، دو ترانه به نام‌های «آدمک» و «پروانهٔ من» را با موسیقی تورج شعبان‌خانی و اشعار لعبت والا، برای فیلم هریتاش اجرا می‌کند. پس از اکران فیلم، صفحه‌های ۴۵ دور این دو ترانه، درصفحه‌فروشی‌های معروفی چون آل کوردوبس، پاپ، دیسکو، بتهوون و پارس عرضه می‌گردد. این دو ترانه گل می‌کند و بر سر زبان‌ها می‌افتد و فریدون فروغی به شهرت می‌رسد. گرچه در آن زمان به او خرده می‌گرفتند که صدای فرهاد را تقلید می‌کند، اما همین باعث شد تا دیگر زیر سایهٔ نام خوانندهٔ محبوبش ری چارلز قرار نگیرد.
              | بعد از گذشت مدتی، فرشید رمزی - کارگردان نمایش تلویزیونی شش و هشت - با فریدون فروغی قرارداد می‌بندد و فروغی در سال ۱۳۵۱ بعد از پنج‌سال مشابه‌خوانی آثار ری چارلز را کنار می‌گذارد. این همکاری باعث تولد آثاری چون «زندون دل» و «غم تنهایی» با اشعاری از آرش سزاوار و آهنگسازی ویلیام خنو می‌گردد که اولی، فروغی را تبدیل به هنرمندی صاحب سبک می‌کند. فتنهٔ چکمه پوش ساختهٔ همایون بهادران دومین فیلم سینمایی بود که فروغی در سال ۱۳۵۱ برای تیتراژ آن ترانه‌ای را به همین نام اجرا کرد. در همین سال توسط یکی از دوستانش با گلی فتوره‌چی آشنا می‌شود و با او ازدواج می‌کند.
              | در سال ۱۳۵۲، تنگنا ساختهٔ امیر نادری با ملودی‌های شورانگیز و تکان‌دهندهٔ منفردزاده، صدای فروغی را بر تیتراژ داشت. در همان سال چندین ترانه را اجرا می‌کند که شاخص‌ترین آن‌ها «نماز» (یا «نیاز»)است، با شعری از شهیار قنبری و موسیقی منفردزاده؛ ترانه‌ای که منجر به بازخواست هر سه نفر از طرف ساواک می‌گردد. او ترانهٔ «هوای تازه» را در همین سال در برنامهٔ تلویزیونی رنگارنگ اجرا می‌کند و همچنین در همین سال است که به درخواست فرزان دلجو ترانه‌ای را برای فیلم یاران (با بازی و کارگردانی دلجو) اجرا می‌کند.
              | درسال ۱۳۵۳، فروغی به علت عدم تفاهم با همسرش از وی جدا می‌شود. در همین سال ترانهٔ «همیشه غایب» را با شعری از شهیار قنبری، موسیقی ویلیام خنو و تنظیم واروژان اجرا می‌کند (این ترانه، پیش‌تر با شعری از ویلیام خنو و با نام «ماهی خسته» اجرا شده بود). او که رفته‌رفته به هنرمند باتجربه‌ای تبدیل می‌شد، اقدام به جمع‌آوری آثار خود می‌نماید و اولین آلبوم خود را با نام زندون دل به بازار عرضه می‌کند. دومین آلبومش را با نام یاران در سال ۱۳۵۴ به بازار عرضه می‌کند و در همین سال به علت اجرای ترانهٔ «سال قحطی» از طرف حکومت شاهنشاهی به مدت دو سال از فعالیت منع می‌شود. در سال ۱۳۵۶، پس از اعلام فضای باز سیاسی توسط حکومت، فروغی بعد از دو سال ممنوعیت کاری سومین آلبوم خود را با نام سال قحطی به بازار عرضه می‌کند. در بهمن ماه همین سال، پدرش در اثر بیماری ذات‌الریه از دنیا می‌رود.
              | درسال ۱۳۵۷، با وخیم شدن اوضاع سیاسی ایران، فروغی اعتراض خود را به اوضاع کشور[نیازمند منبع] با انتشار آلبوم بت‌شکن اعلام می‌دارد و در همین سال ترانه‌ای به نام «روسپی» را اجرا می‌کند که هرگز مجوز پخش نمی‌گیرد. در سال ۱۳۵۸، بعد از انقلاب، فروغی در ایران می‌ماند و کنسرت اجرا می‌کند که ترانه‌های این کنسرت را در آلبوم فریدون فروغی در آغازی نو جای می‌دهد و دلیل نام‌گذاری آلبوم به این نام، وجود ترانه‌های ریتمیکی مانند «حقه» («مشتی ماشاالله») و «شیاد» است که در کارنامهٔ فروغی مانند آن‌ها وجود نداشت. بعد از انتشار این کاست، در سال ۱۳۵۹، فروغی ترانهٔ یار دبستانی را برای فیلم از فریاد تا ترور به کارگردانی منصور تهرانی اجرا می‌کند که در تیتراژ فیلم استفاده می‌شود. در حالی که هنوز هیچ منع رسمی‌ای برای فعالیت فروغی اعلام نشده بود، به تهرانی خبر می‌دهند که باید صدای فروغی را از تیتراژ فیلمش حذف کند. در نتیجه جمشید جم خواندن این ترانه را به عهده می‌گیرد. در همین زمان است که زمزمه‌هایی در مورد ممنوعیت فعالیت فروغی شنیده می‌شود. او در همین سال ترانهٔ «کوچهٔ شهر دلم» را می‌خواند.
              | فروغی در سال ۱۳۶۰ چند ترانهٔ خود را همراه با چند ترانه از کوروش یغمایی در آلبومی با عنوان سُلٰ جای می‌دهد و طی سال‌های ۶۰ و ۶۱ آهنگ چهار قسمتی «چرا نه؟» را می‌سازد و اجرا می‌کند. در همین سال‌هاست که فعالیت نمودن او ممنوع می‌شود . در سال ۱۳۶۵ سفر به دوبی، فروغی را تا پای پیوستن به هنرمندان دور از وطن پیش برد ، اما پیشنهادهای تهیه‌کنندگان آن سوی آب او را به رفتن راضی نکرد. این خواننده محبوب، در دهه ۶۰ دو بار به زندان افتاد؛ یک بار قزل حصار و دفعه بعد در کچویی. برخلاف شایعات، دلیل زندانی شدن فروغی هرگز سیاسی نبود. یکی از همبندان او تعریف می‌کند: روزی فریدون از پله‌های بند افتاد و پایش صدمه دید. یکدفعه با آن صدای قوی اش زد زیر آواز و خواند: «دیگه این قوزک پا یاری رفتن نداره… !». در اسفند سال ۱۳۷۲ با سوسن معادلیان آشنا می‌شود و در خرداد ۱۳۷۳ با هم ازدواج می‌کنند. ازدواج، موجب تحولی مثبت در او می‌شود و دوباره فعالیتش را از سر می‌گیرد؛ شعر می‌گوید، آهنگ می‌سازد و شروع به تدریس می‌نماید. در اسفندماه سال ۱۳۷۷ موفق به برگزاری کنسرتی در تالار حافظ دانشگاه کیش می‌شود. پس از ۴ روز برگزاری کنسرت در کیش، به تهران می‌آید. علی‌رغم درخواست‌هایی که از شهرستان‌های دیگر برای برگزاری کنسرت ارسال می‌شود، با برگزاری آن در شهرستان‌های دیگر موافقت نمی‌شود و فروغی در تابستان ۷۸ و پائیز ۷۹ دوباره به کیش بازمی‌گردد و به اجرای برنامه در هتل آنای کیش می‌پردازد. در فروردین سال ۱۳۷۹ به پیشنهاد حمیدرضا آشتیانی پور (کارگردان) و به امید اخذ مجوز، «می‌تراود مهتاب» را با شعری از نیما یوشیج برای فیلم دختری بنام تندر می‌خواند اما شرایط تغییری نمی‌کند. گرچه ترانهٔ فروغی در انتهای فیلم در جشنوارهٔ فیلم فجر پخش می‌شود. پیش از این هم کیومرث پوراحمد نمی‌تواند مجوز حضور او را به‌عنوان بازیگر برای پروژه فیلم گل یخ (که داستان آن دربارهٔ زندگی یک خوانندهٔ محکوم به سکوت بود) بگیرد.
              | وی در روز جمعه، سیزدهم مهر ماه ۱۳۸۰ در منزلش در تهران‌پارس به دلیل سکته قلبی در سن ۵۰ سالگی درگذشت. او را در روستای قورقورک بوئین زهرا قزوین در کنار برکه‌ای کوچک، در سایهٔ کوهی بزرگ و در آرامشی که سال‌ها انتظارش را می‌کشید به خاک سپردند. شهیار قنبری (خواننده، ترانه ساز، آهنگساز و دوست قدیمی فریدون فروغی) در مورد مرگ او می‌گوید:
              | فریدون فروغی برای دومین بار می‌میرد. نخستین بار وقتی مرد که نتوانست بخواند و دومین بار وقتی مرد که می‌خواست بخواند. فریدون را فراموشی و خاموشی کشت.
          .jAudio--playlist
          .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
            div(data-role='navbar')
              .jAudio--controls
                ul
                  li
                    button.jAudio--control.jAudio--control-prev(data-action='prev')
                      span
                  li
                    button.jAudio--control.jAudio--control-play(data-action='play')
                      span
                  li
                    button.jAudio--control.jAudio--control-next(data-action='next')
                      span
    // /content
    .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
      div(data-role='navbar')
    script(src='resources/js/jaudio.min.js')
    script(src='resources/js/4.js')
