doctype html
html
  head
    title دل آواز
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.min.css')
    script(src='js/jquery.js')
    script(src='js/jquery.mobile-1.4.5.min.js')
    link(rel='stylesheet' type='text/css' href='resources/css/main.min.css')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='stylesheet' href='css/Style.css')
  body(data-theme='b')
    #p2.p2(data-role='page')
      div(data-role='header' data-theme='b' data-position='fixed')
        img.head(src='images/head.png' alt='')
        a.ui-btn.ui-corner-all.ui-shadow.ui-icon-bars.ui-btn-icon-grid.ui-btn-icon-notext(href='#panel-overlay')
      #panel-overlay(data-role='panel' data-display='overlay')
        ul(data-role='listview')
          img.panel(src='images/panel.png')
          li(data-icon='info')
            a(href='/main.jade' data-transition='slide' style='text-align: center;border: none;') صفحه اصلی
          li(data-icon='info')
            a(href='/bio.jade' data-transition='slide' style='text-align: center;border: none;') زندگی نامه
          li(data-icon='info')
            a(href='/aboutus.jade' data-transition='slide' style='text-align: center;border: none;') در باره ما
          li(data-icon='phone')
            a(href='https://www.instagram.com/del.avaaz/' data-transition='slide' target='blank' style='text-align: center;border: none;') صفحه ی ما 
        br
        br
      div(data-role='header')
      // /header
      .ui-content(role='main' style='padding:0;margin-top:-2px;')
         script(type='text/javascript').
          if(!#{internetStatus}){
            $.toast({
                heading: '<h3 class="h3">!دستگاه شما به اینترنت متصل نیست</h3>',
                text: '<a class="a" href="" onclick="window.location=document.URL;" style="margin-right: 80px;margin-top: 5px;">تلاش مجدد</a>',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: false,
                position: 'top-center',
            })
          }
        .jAudio
          audio
          .jAudio--ui
            .jAudio--thumb
            .jAudio--status-bar
              .jAudio--details
              .jAudio--volume-bar
              .jAudio--progress-bar
                .jAudio--progress-bar-wrapper
                  .jAudio--progress-bar-played
                    span.jAudio--progress-bar-pointer
              .jAudio--time
                span.jAudio--time-elapsed 00:00
                span.jAudio--time-total 00:00
          .bio(data-role='collapsible')
            h3 زندگی نامه
            p
              | ابراهیم حامدی (زادهٔ ۲۹ خرداد ۱۳۲۸ در تهران) با نام هنری ابی خوانندهٔ موسیقی پاپ ایرانی است. او از دسته خوانندگان تنور ایران است. وی در سبک‌های مختلف موسیقی صاحب اثر است: راک، بالاد، موسیقی فولکلور، پاپ، دنس، هاوس و ترنس.
              | برخی او را با تام جونز خوانندهٔ سرشناس بریتانیایی مقایسه کرده‌اند، با این تفاوت که ابی را بر خلاف تام جونز دارای تمایلات سیاسی می‌دانند.بسیاری از طرفدارانش او را «آقای صدا» در حوزهٔ موسیقی پاپ فارسی می‌دانند.
              | او در دوران نوجوانی با خواندن قرآن در صف‌های مدرسه به استعداد خود در خواندن پی می‌برد. خود وی در مصاحبه‌ای در پاسخ به این پرسش که خوانندگی را چگونه آغاز کرد می‌گوید: «از زمان چهار پنج سالگی، رادیو به ایران آمده بود ولی ما آنقدر بودجه نداشتیم که یک رادیو بخریم. ضمن اینکه هنوز برق هم به همه جا نیامده بود. به موسیقی گوش می‌کردم و آن را دوست داشتم. تفریح من در خانه خواندن بود، ضمن اینکه بارها هم گفته‌ام که از کلاس سوم دبستان در مدرسه صبح‌ها سر صف، قرآن با قرائت اجرا می‌کردم. خب این هم برای خودش یک نوع خوانندگی است. در سن ده یازده سالگی، رادیو و خوانندگانی بودند و مرتب فکر و ذکر من به غیر از مسئلهٔ درس خواندن، خوانندگی بود. در خانه برای هم‌کلاسی‌هایم و همین‌طور برای بچه‌محل‌ها می‌خواندم».
              | ابتدا در یک گروه دوستانه به نام سان بویز و سپس در باشگاه‌ها و کاخ‌های جوانان به صورت رسمی شروع به خواندن می‌کند. در گروه سان بویز، ابتدا به تقلید از آهنگ‌های ایتالیایی، بخصوص ترانه‌های آلبانو کاریسی خواننده و بازیگر بنام ایتالیایی می‌پردازد و سپس به اجرای ترانه‌هایی از خوانندگان مطرح آن دوران مانند جیم موریسون، اریک بوردون، تام جونز و پپینو دی کاپری رو می‌آورد.
              | او اولین بار در کاخ جوانان جنوبی به روی صحنه می‌رود. تجربهٔ اولین اجرای رسمی ابی از زبان خودش شنیدنی است. آن‌طور که وی در مصاحبه‌ای نقل کرده‌است در اولین اجرا از فرط استرس، نیمی از بدنش کاملاً بی‌حس شده و اصطلاحاً به خواب می‌رود. او این واقعه را جزو خاطرات تلخ اما فراموش‌نشدنی خود ذکر کرده‌است.
              | ابی در همان دوران با شهبال و شهرام شب‌پره و ماهان افشاری آشنا می‌شود. شهبال شب‌پره صدای او را در سان بویز می‌شنود و به وی پیشنهاد کار در گروه بلک کتز را می‌دهد. او در کنار فرهاد مهراد خوانندهٔ راک ایرانی، مدت دو سال با گروه بلک کتز همکاری می‌کند و مدت زیادی در کابارهٔ کوچینی به روی صحنه می‌رود. سپس از این گروه جدا می‌شود و به همکاری با آهنگسازان و ترانه‌سرایان مطرح آن دوران می‌پردازد. ابی از دوران همکاری با فرهاد در گروه بلک کتز، به عنوان دورهٔ آموزشی خود یاد می‌کند و خود را وامدار فرهاد می‌داند.
              | در آن زمان که ابی وارد عرصهٔ موسیقی می‌شود، خوانندگان اندکی در ایران در زمینهٔ موسیقی پاپ فعالیت داشته‌اند که از آن جمله می‌توان به ویگن، عارف و منوچهر سخایی اشاره کرد.دیری نمی‌گذرد که ابی نیز نخستین ترانهٔ مستقل خود را با نام «عطش» عرضه می‌کند که برای فیلمی به همین عنوان ساخته می‌شود. دومین ترانهٔ وی «چرا چرا» نام دارد با شعری از مسعود هوشمند و آهنگی از حسین واثقی.اما سومین ترانهٔ ابی که به گفتهٔ خودش باعث معروفیت وی می‌شود ترانه‌ای است به نام «شب» با شعر اردلان سرفراز و آهنگ منصور ایران‌نژاد که برای اولین بار در شوی معروف میخک نقره‌ای از فریدون فرخزاد پخش می‌شود.
              | ابی از همان اوان خوانندگی، در حرفهٔ خود از الگوبرداری و تقلیدهای کلیشه‌ای برحذر بوده و حتی خوانندگان جوان همدورهٔ خود را که به کپی‌برداری و تقلید از آثار یکدیگر می‌پرداختند به شدت تخطئه می‌کرده‌است. در همین دوران است که با شرکت در «جشنوارهٔ بین‌المللی آواز ترکیه» توانست نگاه‌های داخل و خارج را به سمت خود معطوف کند.
              | صدای ابی از همان آغاز، محل بحث و نظر رسانه‌ها بوده‌است. چنان‌که مجله جوانان در شمارهٔ سال دهم خود، مطلبی را تحت عنوان «صدای ابی رانندگان را دچار هیستریک سرعت می‌کند» منتشر می‌کند و در آن به طرح این مسئله می‌پردازد که صدای ابی به علت قدرت و انرژی فوق‌العادهٔ آن که بیشتر جنبهٔ حماسی دارد، رانندگان را هنگام رانندگی دچار هیستریک و حرکات تند و خشن می‌کند.
              | در سال ۱۹۷۴ ابی و نوش‌آفرین دو خوانندهٔ جوان ایرانی برای شرکت در جشنواره بین‌المللی آواز ترکیه راهی استانبول می‌شوند. این فستیوال که مخصوص اجرای ترانه‌های روز بوده و برای نخستین بار در جهان در ترکیه برگزار می‌شده‌است، علاوه بر موسیقی شامل سینما، نقاشی، مجسمه‌سازی و دیگر رشته‌های هنری نیز بوده‌است.
              | حدود ۳ ماه قبل از فستیوال، یک هیئت ۵ نفره از بهترین و شناخته‌شده‌ترین کارشناسان صدا وارد تهران می‌شوند و با تحقیق و بررسی روی کار و صدای همهٔ خوانندگان جوان ایرانی و ملاحظهٔ برنامه‌های رادیویی و صحنه‌ای، عاقبت از بین خانم‌ها، نوش‌آفرین و از بین آقایان، ابی را برای شرکت در این فستیوال برمی‌گزینند.
              | آی فری خوانندهٔ معروف ترکیه، نمایندهٔ این فستیوال در ایران بوده‌است و همین خواننده، دعوت‌نامه‌های رسمی فستیوال را هفتهٔ قبل از برگزاری جشنواره به تهران می‌آورد و بعد با نوش‌آفرین و ابی راهی ترکیه می‌شود. در ترکیه قرار بوده که این دو خوانندهٔ ایرانی ابتدا تمرینات لازم را با ارکستر ۷۰ نفره انجام دهند و بعد بر روی صحنه روند. مدت فستیوال حدود ۵ روز بوده‌است.
              | نوش‌آفرین با آهنگ «کاکلی» ساختهٔ فریدون خشنود و ابی با آهنگ «ش
              | کار» از ساخته‌های حسن شماعی‌زاده در این فستیوال شرکت می‌کنند. با اعلام اینکه از کشور ایران تنها یک شرکت‌کننده حق حضور دارد، نوش‌آفرین اعلام انصراف می‌کند. پس از اجرای بیش از ۲۰۹ خواننده، شش خواننده به بخش فینال راه می‌یابند که نام ابی نیز در میان فینالیست‌ها قرار داشته‌است. در رقابت بین این شش خواننده، سرانجام ابی با آهنگ «شکار» خود به عنوان خوانندهٔ برگزیدهٔ هیئت ژوری انتخاب می‌گردد و پلاک و دیپلم افتخار جشنواره را از آن خود می‌سازد.
              | ابی پیش از انقلاب، تک‌آهنگ‌های زیادی را بر روی صفحه منتشر کرد ولی هیچ‌گاه آلبوم مستقلی از وی ارائه نشد. آثار این دورهٔ او بعد از انقلاب و در خارج از کشور بود که در قالب آلبوم‌های مستقل و به صورت کاست به بازار عرضه شد. در کارنامهٔ کاری وی، همکاری با ترانه‌سرایان برجسته‌ای چون ایرج جنتی عطایی، اردلان سرفراز، منصور تهرانی و شهیار قنبری و آهنگسازان سرشناسی چون فرید زلاند، سیاوش قمیشی، واروژان، محمد شمس، شادمهر عقیلی، حسن شماعی زاده، اسفندیار منفردزاده و بابک بیات به چشم می‌خورد.
              | ابی در سال‌های اقامت در خارج از کشور، در بزرگ‌ترین سالن‌های بین‌المللی جهان کنسرت اجرا کرده‌است که برخی از آن‌ها کنسرت خیریه بوده‌است. در سال ۲۰۰۷ میلادی برای اجرای کنسرت همراه با ارکستر سمفونی آخن، از ابی به شکلی ویژه دعوت به عمل می‌آید. این کنسرت از رادیو WDR به صورت مستقیم، پخش و از تلویزیون همین شبکه نیز فیلمبرداری شد. روزنامه‌های پرتیراژ آخن نیز پس از برنامهٔ ابی، از وی تمجید کرده و از «گرمای حضور او بر صحنه» نوشتند. از معروف‌ترین کنسرت‌های خیریهٔ او نیز کنسرت وی در رویال آلبرت هال در لندن در سال ۲۰۱۰ است که عواید آن صرف کمک به بیماران مبتلا به ام اس شد.
              | با آنکه سال‌هاست که ابی در خارج از ایران و در تبعید زندگی می‌کند، هنوز برخی طراحان ایرانی از نام وی جهت افزایش فروش کالاهای تجاری خود بهره می‌گیرند.شماری از خوانندگان داخل ایران نیز به شدت تحت تأثیر سبک خواندن و نحوهٔ اجرای او قرار گرفته‌اند. در مورد قاسم افشار که از جملهٔ این خوانندگان است و بازخوانی ترانهٔ «خلیج فارس» ابی بدو منسوب است، حتی در حرکات دست و پای وی هنگام اجرای کنسرت نیز شباهت بسیاری با ابی برقرار ساخته‌اند.تأثیرپذیری قاسم افشار از ابی تا به حدی بوده‌است که آهنگساز سرشناسی چون تورج شعبان‌خانی، وی را بابت این نحو سبک تقلیدیش مورد سرزنش قرار داده‌است.
          .jAudio--playlist
          .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
            div(data-role='navbar')
              .jAudio--controls
                ul
                  li
                    button.jAudio--control.jAudio--control-prev(data-action='prev')
                      span
                  li
                    button.jAudio--control.jAudio--control-play(data-action='play')
                      span
                  li
                    button.jAudio--control.jAudio--control-next(data-action='next')
                      span
    // /content
    .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
      div(data-role='navbar')
    script(src='resources/js/jaudio.min.js')
    script(src='resources/js/8.js')
