doctype html
html
  head
    title دل آواز
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.min.css')
    script(src='js/jquery.js')
    script(src='js/jquery.mobile-1.4.5.min.js')
    link(rel='stylesheet' type='text/css' href='resources/css/main.min.css')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='stylesheet' href='css/Style.css')
  body(data-theme='b')
    #p2.p2(data-role='page')
      div(data-role='header' data-theme='b' data-position='fixed')
        img.head(src='images/head.png' alt='')
        a.ui-btn.ui-corner-all.ui-shadow.ui-icon-bars.ui-btn-icon-grid.ui-btn-icon-notext(href='#panel-overlay')
      #panel-overlay(data-role='panel' data-display='overlay')
        ul(data-role='listview')
          img.panel(src='images/panel.png')
          li(data-icon='info')
            a(href='/main.jade' data-transition='slide' style='text-align: center;border: none;') صفحه اصلی
          li(data-icon='info')
            a(href='/bio.jade' data-transition='slide' style='text-align: center;border: none;') زندگی نامه
          li(data-icon='info')
            a(href='/aboutus.jade' data-transition='slide' style='text-align: center;border: none;') در باره ما
          li(data-icon='phone')
            a(href='https://www.instagram.com/del.avaaz/' data-transition='slide' target='blank' style='text-align: center;border: none;') صفحه ی ما 
        br
        br
      div(data-role='header')
      // /header
      .ui-content(role='main' style='padding:0;margin-top:-2px;')
        script(type='text/javascript').
          if(!#{internetStatus}){
            $.toast({
                heading: '<h3 class="h3">!دستگاه شما به اینترنت متصل نیست</h3>',
                text: '<a class="a" href="" onclick="window.location=document.URL;" style="margin-right: 80px;margin-top: 5px;">تلاش مجدد</a>',
                showHideTransition: 'fade',
                icon: 'error',
                hideAfter: false,
                position: 'top-center',
            })
          }

        .jAudio
          audio
          .jAudio--ui
            .jAudio--thumb
            .jAudio--status-bar
              .jAudio--details
              .jAudio--volume-bar
              .jAudio--progress-bar
                .jAudio--progress-bar-wrapper
                  .jAudio--progress-bar-played
                    span.jAudio--progress-bar-pointer
              .jAudio--time
                span.jAudio--time-elapsed 00:00
                span.jAudio--time-total 00:00
          .bio(data-role='collapsible')
            h3 زندگی نامه
            p
              | فرهاد مِهراد (۲۹ دی ۱۳۲۲ در تهران— ۹ شهریور ۱۳۸۱، پاریس) معروف به فرهاد؛ خواننده، آهنگ‌ساز و نوازندهٔ پاپ راک اهل ایران بود.وی از خوانندگان صاحب نام راک ایرانی بود که نخستین آلبوم راک اند رول انگلیسی ایران را منتشر کرد.
              | آنچه که او را از دیگر خوانندگان هم نسلش متمایز می‌کند، خواندن ترانه‌های اجتماعی است که در آثار موسیقی او متبلور شده است. این عنصر در مضامین تمامی ترانه‌های او کاملاً به چشم می‌خورد.
              | همچنین او را به عنوان یکی از اولین خوانندگان سیاسی ایران نیز می‌شناسند.وی در اوایل دهه ۱۳۵۰ ترانه‌هایی با مضامین سیاسی، انتقادی می‌خواند و در زمستان ۱۳۵۷ ترانه انقلابی «وحدت» را خواند، اما پس از انقلاب تا سال ۱۳۷۲ از ادامه کار منع شد.
              | از معروف‌ترین آهنگ‌های او می‌توان به «مرد تنها»، «جمعه»، «آیینه‌ها»، «خسته»، «اسیر شب»، «هفته خاکستری»، «شبانه۱و۲»، «گنجشکک اشی مشی»، «کودکانه»، «سقف»، «آوار»، «وحدت»، «نجواها»، «کوچ بنفشه‌ها»، «برف»، «مرغ سحر»، «گل یخ»، «شب تیره» و… اشاره کرد. وی آهنگ‌هایی نیز به زبان‌های غیرفارسی دارد.
              | فرهاد مهراد در ۲۹ دی ماه سال ۱۳۲۲ در تهران متولّد شد. پدرش کاردار وزارت خارجهٔ ایران در کشورهای عربی بود. او که کوچک‌ترین عضو خانواده بود، خصوصیّات رفتاری اش به گونه‌ای با هم‌سالانش متفاوت بود که از دید دوستان و آشنایان و خانواده به مقلّد بزرگسالان تشبیه می‌شد. سه ساله بود که گرایش ویژه‌اش به موسیقی باعث شگفت اطرافیان شد، به‌طوری‌که از او دیده می‌شد ساعت‌ها در پشت اتاق برادرش مشغول گوش دادن به تمرینات ویلن او و دوستانش شود، که به گفتهٔ خود او: «با وجود اینکه نمی‌دانست این صداها چیست امّا گوش او از همان کودکی با موسیقی آشنا می‌شد.» بعد از اینکه علاقه او به موسیقی توسط دوست برادرش مورد توجّه قرار می‌گیرد، آن فرد خانواده‌اش را ترغیب به فراهم نمودن سازی برای او می‌کند. به هر ترتیب یک ویلن سل برای او تهیه شده و سرآغازی برای یادگیری دانش موسیقی اش می‌شود. امّا مدّت زمان یادگیری بیشتر از سه جلسه دوام نمی‌آورد و ویلنسل می‌شکند؛ که خودش بعدها دربارهٔ آن حادثه این چنین می‌گوید: «به هر حال سازی تهیه می‌شود و سپس توسط همان‌هایی که تهیه شده بود شکسته می‌شود، که در آن لحظه ساز صد تکه و روح من نیز به همراه آن هزار تکه می‌شود و به گونه‌ای می‌توان گفت که علاقه من به موسیقی هرز رفت، زیرا باعث شد که موسیقی را به صورت دِیمی و از راه گوش فرا بگیرم.» پس از آن واقعه باز هم تنها دلخوشی او گوش سپردن به همان تمرینات موسیقی برادر بزرگ و داشتن ساز هم تبدیل به یکی از محالات می‌شود. در دوران مدرسه پی به علاقه و توانایی‌اش به رشته زبان و ادبیات فارسی می‌برد و در کنار موسیقی تبدیل به دیگر دغدغه اش می‌شود و او را مایل به ادامه تحصیل در رشته ادبیات می‌کند؛ ولی با مخالفت عموی بزرگ که در غیاب پدر سرپرستی خانواده را برعهده داشت روبرو شده و مجبور به ادامه تحصیل در رشتهٔ طبیعی می‌شود؛ نتیجهٔ علاقه‌مند نبودن به این رشته و دروس آن دلیلی بر ترک تحصیل او در کلاس یازدهم می‌شود.بعد از ترک تحصیل به دنبال علاقهٔ دوران کودکی، یعنی نوازندگی و کار موسیقی رفته و به دلیل اجازه نداشتن ساز از سوی پدر خانواده، برای یادگیری نواختن به خانهٔ دوستان و همسایگان ارمنی خود می‌رود تا بتواند از سازهایی که در منزل آن‌ها بود استفاده کند. زیرا به گفته خود او: «ارمنی‌ها در آن دوران نسبت به خانواده‌های دیگر آزاد تر بوده و انواع موسیقی‌های جهان را گوش می‌دادند و همچنین سازهایی نیز در منزل خود داشتند.» به این ترتیب به صورت خودآموز نوازندگی گیتار و پیانو را یاد می‌گیرد و چندی بعد توسط همان هم محلی‌های ارمنی، گروه چهار بچه جن (به انگلیسی: The four imps) را تشکیل می‌دهد و در آن گروه به کار نوازندگی و اجرای برنامه در کلاب‌های گوناگون مشغول می‌شود. چندی بعد این گروه برای اجرای برنامه‌ای که توسط مدیریت هتل خورشید که برای کارکنان باشگاه شرکت نفت ترتیب داده شده بود راهی اهواز می‌شود. در اجرای شب اوّل برنامه، رهبر ارکستر به علّت عدم حضور خواننده گروه از او می‌خواهد که علاوه بر نوازندگی به عنوان خواننده نیز گروه را همراهی کند و او نیز با یکبار دوره کردن متن ترانه و آهنگ، برنامه را به روی صحنه می‌برد. (او در اَدا کردن درست واژگان و عبارات حساس بود و همچنین اطلاعات جامعی در رابطه با موسیقی جهان داشت. همین امر باعث می‌شد که وقتی ترانه‌ای را به زبانی دیگر و از آهنگ‌های انگلیسی، فرانسوی، ایتالیایی و…، به آواز درآورد کمتر کسی باور کند که او به زبان دیگری تکلّم دارد) چنین وسواسی برای گروهی که به زبان‌های ارمنی و انگلیسی برنامه اجرا می‌کردند مفید واقع شده و برای اجرای خوبشان مورد استقبال قرار می‌گیرند و مدّت اجرای برنامه نیز برای چند شب متوالی تمدید می‌شود. همچنین به گفته منوچهر اسلامی، نوازنده ترومپت و عضو سابق گروه بلک کتس: «فرهاد چون از کودکی به منزل دوستان ارمنی خود برای بهره‌گیری از سازهای آنان به صورت پنهانی درآمد و شد بود کاملاً به زبان ارمنی نیز تسلّط داشت.مدّتی بعد او از آن گروه جدا شده و به صورت مستقل فعالیّت‌هایش را در زمینه موسیقی آغاز می‌کند و در اوّلین قدم در سال ۱۳۴۲ به برنامه‌ای تلویزیونی، تحت عنوان (واریته استودیو ب) می‌رود و در آنجا نیز آهنگ‌های غیر فارسی را اجرا کرده و طرفدارانی می‌یابد. از این رو، یعنی بعد از دیده شدن در این برنامه و مورد توجّه قرار گرفتن توسط مخاطبین، چندی بعد از او برای اجرای برنامه در کنسرت بزرگی به مناسبت سالروز محمدرضاشاه پهلوی که توسط مدیریت (مجله اطلاعات جوانان) در استادیوم امجدیه صورت گرفته بود دعوت می‌شود و در آن کنسرت نیز چند ترانه غیر فارسی را با گیتار می‌نوازد و می‌خواند و مورد استقبال مردم و تماشاچیان قرار می‌گیرد. از قضا در این کنسرت ویدا قهرمانی هنرپیشه سینما که به همراه همسرش مالک کافه کوچینی بودند نیز حضور داشت و به دلیل اجرای زیبایش او را به گروه بلک کتس که هر شب در کوچینی برنامه داشتند معرفی می‌کند. از سال ۱۳۴۵ همکاری او با بلک کتس آغاز می‌شود و در آنجا به دلیل اجراهای انگلیسی‌اش که به گفته دوستان و مخاطبانش از اجرای اصل آهنگ نیز بهتر بود، به گونه‌ای که آمریکایی‌های مقیم ایران به رزرو صندلی‌های جلو برای نزدیک بودن به او سر و دست می‌شکستند به «فرهاد بلک کتس» معروف شده و حتّی توسط نشریات آن زمان و افرادی که از مخاطبان او در کوچینی بودند، لقب «ری چارلز ایران» را نیز می‌گیرد.او در این گروه به خواندن آوازهایی از گروه‌های معروف موسیقی آن زمان از جمله: بیتل‌ها، انیمالز، بی جیز، فورتاپس و خوانندگان سرشناسی مانند: الویس پریسلی، ری چارلز، تام جونز، نینا سیمون، فرانک سیناترا، بن ئی. کینگ و بسیاری دیگر می‌پردازد. منوچهر اسلامی عضو سابق و نوازنده ترومپت در گروه بلک کتس از او به عنوان پایه اصلی این گروه یاد می‌کند و می‌گوید: «او با آنکه نت نمی‌دانست و موسیقی را از راه گوش و به صورت تجربی آموخته بود نیاز چندانی به تمرین نداشت و با یکبار زمزمه کردن ترانه‌های انگلیسی صدا و سازش را با اعضای گروه هماهنگ می‌کرد و در واقع به احترام سایر اعضا به جلسات تمرین می‌آمد.» همچنین ابی دیگر خواننده پاپ که در آن زمان هنوز فعالیّت حرفه‌ای خود را به صورت جدی آغاز نکرده بود به مدّت دو سال با گروه بلک کتس همکاری کرد که همیشه از این دو سال و در کنار فرهاد مهراد بودن به نیکی یاد می‌کند و آن دو سال را به عنوان یک دوره آموزشی قلمداد کرده و می‌گوید: «هر آنچه که در آواز خواندن یادگرفته‌ام مدیون فرهاد هستم.» همچنین از سوی مردم بر دیگر خواننده پاپ فریدون فروغی نیز در اوایل فعالیّت هنری اش به دلیل تأثیرپذیری از فرهاد مهراد خرده گرفته می‌شد. در همین زمان، یعنی در اوج فعالیّت بلک کتس بود که استاد علی کسمایی مدیر دوبلاژ، ملقّب به پدر دوبله ایران به دنبال صدایی برای ترانه (With a little bit luck)(به فارسی: با یه کمی شانس) برای فیلم انگلیسی بانوی زیبای من می‌باشد و با توجه به معروف شدن فرهاد مهراد در کلاب کوچینی و معرفی اش از سوی تورج نگهبان او را به عنوان صدای دوبله‌کننده این ترانه انتخاب می‌کند؛ و در واقع این ترانه اولین ترانه‌ای است که او آن را به زبان فارسی می‌خواند. چندی بعد او از بلک کتس جدا شده و برای دیدار خواهرش به انگلستان می‌رود. امّا سفری که قرار بود دو ماهه باشد بیش از یک سال به طول می‌انجامد. در این سفر برای کسب درآمد مدّتی را به اجرای برنامه در کلاب‌های لندن می‌پردازد که یکی از تهیه‌کنندگان مطرح انگلیسی با شنیدن آواز او انتشار آلبومی را به زبان انگلیسی به او پیشنهاد می‌کند، ولی به دلیل بیماری و مشکلات شخصی انتشار آلبوم در حد حرف باقی می‌ماند.پس از بازگشت به ایران اوّلین اجرای موسیقی خود را در هتل ریمبو در خیابان ایرانشهر تهران اجرا می‌کند و سپس برای مدّت کوتاهی به اجرای برنامه در کافه کوچینی ادامه می‌دهد.
              | در سال ۱۳۴۸ توسط اسفندیار منفردزاده که در آن زمان به دنبال صدای جدیدی برای ترانهٔ «مرد تنها» (با آهنگی از خودش و شعری از شهیار قنبری) برای فیلم رضا موتوری (به کارگردانی مسعود کیمیایی) بود انتخاب می‌شود و پیشگام از خوانندگان دیگر، سرآغازی برای اجرای ترانه‌ای نوین با مضمونی اجتماعی در اوّلین موسیقی متن فیلم می‌شود. در ابتدا او به دلیل آنکه از اوّلین اجرای فارسی خود در فیلم (بانوی زیبای من) رضایتمند نبود شرط می‌کند در صورتی که بعد از اجرا از نتیجه کار راضی نباشد منفردزاده آهنگ را پاک کرده و منتشر نسازد. امّا بعد از اتمام کار از نتیجه بدست آمده ابراز رضایت می‌کند و این ترانه در سال ۱۳۴۹ هم‌زمان با اکران فیلم به شکل صفحهٔ موسیقی منتشر شده و تبدیل به پرفروش ترین‌ها می‌شود. زیرا به گفته خود او: «تنها مایل به اجرای ترانه‌هایی بود که بتواند آن‌ها را حس کند و زبان حال او باشد یا اینکه دارای پیام و بیانگر معضلی از اجتماع باشد.»
              | بعد از این ترانه در سال ۱۳۵۰ ترانهٔ «جمعه» (کار منفردزاده و قنبری) را برای فیلم خداحافظ رفیق (به کارگردانی امیر نادری) می‌خواند و باز هم مورد توجّه قرار گرفته و به عنوان صدای اعتراض شناخته می‌شود. بعد از آن یعنی در همان سال، ترانه آیینه‌ها (کار شماعی زاده و اردلان سرفراز) را باز هم با متن ترانه‌ای متفاوت با ترانه‌های آن دوران اجرا می‌کند و دارای سبک خاصی در موسیقی با مُهر و امضای کاری خود شده و همچنین باعث ترغیب خوانندگان دیگر به اجرای ترانه‌های اینچنینی می‌شود. بعد از اجرای موفقیت‌آمیز این آهنگ و استقبال مردم از این نوع موسیقی پاپ با ترانه‌ای متفاوت، دلیلی بر همکاری دوباره این گروه سه نفره متشکل از خواننده و ترانه‌سرا و آهنگساز می‌شود تا آهنگ دیگری نزدیک به مضمون ترانه آیینه‌ها بنام مرداب برای او ساخته و با صدای او تمرین شود. خسرو لاوی مسئول انتشار کارهای قبل از انقلاب این هنرمند در مستند (جمعه‌های فرهاد) در این رابطه می‌گوید: «این آهنگ در ابتدا برای صدای فرهاد ساخته و تمرین شده بود و در آخرین اجرای تمرینی این کار نیز خود من حضور داشتم و شاهد تمرین این آهنگ توسط فرهاد بودم و باید بگویم هنگامی که فرهاد پشت پیانو می‌نشیند و شروع به نواختن این آهنگ و خواندن آن می‌کند از زیبایی آن اثر مو برتنم سیخ می‌شود و می‌گویم که این کار می‌تواند یکی از بهترین کارهای فرهاد شود که متأسفانه بعد از این اجرا به دلایلی که هیچگاه مشخص نشد آهنگساز کار، خود تصمیم به اجرای ترانه را می‌گیرد و اجرا با صدای فرهاد منتفی می‌شود.» منوچهر اسلامی می‌گوید: «افراد دور و بر فرهاد آدم‌های خیرخواهی نبودند، البته به جز سرپرست گروهی که فرهاد کارش را با او در کوچینی آغاز کرده بود، چون او استعداد و توانایی فرهاد را کاملاً می‌شناخت. فرهاد هم از لحاظ روحی بسیار آسیب‌پذیر بود و نمی‌توانست خیلی چیزها را تحمّل کند.» پس از آن و در سال ۱۳۵۱ ترانهٔ «خسته» کاری از (تورج نگهبان و محمد اوشال) را برای فیلم زنجیری به آواز درآورد و در سال‌های بعد نیز ترانه‌های اسیر شب، شبانه ۱ و ۲، هفته خاکستری، گنجشکک اشی مشی، سقف، آوار، کودکانه، وحدت و نجواها را تا قبل از انقلاب سال ۵۷ به اجرا درمی‌آورد. همچنین به دلیل گزیده کار بودنش، آثار او در یک دوره فعّال نه ساله، یعنی از اجرای اوّلین آهنگ (مرد تنها) در سال ۱۳۴۹ تا آخرین اجرایش تا انقلاب یعنی (نجواها) در سال ۱۳۵۸ مجموعه آثار او تنها به چهارده کار می‌رسد، زیرا او کاری را که از لحاظ محتوایی مناسب نمی‌دانست اجرا نمی‌کرد و اعتقادی نیز به همیشه در صحنه بودن یک هنرمند تحت هرگونه شرایطی و با ارائه دادن هر نوع کاری نداشت و علّت اینکه با شمار زیادی از افراد سرشناس آن دوران در زمینه شعر و موسیقی کار کرد امّا در مجموع نوعی وحدت و یکپارچگی در محتوای آثارش دیده می‌شود نیز به همین دلیل می‌باشد. او همچنین در اواخر دهه ۱۳۵۰ با پوران گلفام ازدواج می‌کند که تا پایان عمر نیز با او زندگی کرد. تا سال ۱۳۵۷ و انقلاب ایران کنسرت‌هایی را در داخل و خارج از کشور برگزار کرد و یک روز بعد از انقلاب در ایران، یعنی در روز ۲۳ بهمن ۱۳۵۷ سیاوش کسرایی ترانهٔ وحدت را به اسفندیار منفردزاده می‌سپارد و در همان روز صدای فرهاد در ستایش آزادی و آزادگی در تلویزیون ملّی طنین انداز می‌شود که در واقع اوّلین خواننده‌ای بود که صدایش بعد از انقلاب نیز شنیده می‌شد. امّا پس از انقلاب مدّت‌ها از کار منع گردید تا سرانجام در سال ۱۳۷۳آلبوم خواب در بیداری از او منتشر شد که چند ترانهٔ فارسی و چند ترانهٔ انگلیسی را به همراه داشت. در این آلبوم او تنها با نواختن یک آلت موسیقی، یعنی پیانویی که خود آن را می‌نواخت آهنگسازی ترانه‌های فارسی و انگلیسی اش را برعهده گرفته بود که برای اوّلین بار چنین شیوه‌ای که آهنگ یک اثر موسیقی با ساده‌ترین شکل خود، یعنی نواختن تنها یک ساز مانند پیانو یا گیتار به اجرا درآید توسط او صورت گرفت که در اجراهای کنسرتی اش نیز پایدار ماند. در سال ۱۳۷۴ نیز اوّلین کنسرت بعد از انقلاب خود را در کلن آلمان اجرا کرد که اوّلین کنسرت پاپی که بعد از انقلاب مجوز اجرا در خارج از کشور را گرفت محسوب می‌شد. در سال ۱۳۷۶ آلبوم وحدت او نیز توسط فردی ناشناس منتشر شد که شامل ترانه‌های دههٔ ۱۳۵۰ او بود. همچنین در سال ۱۳۷۷ نیز توانست در هتل شرق تهران کنسرتی را اجرا کند و آلبوم برف را نیز منتشر کرد.
              | پس از انتشار آخرین آلبومش بنام «برف»، درصدد تهیه آلبومی به نام «آمین» بود که ترانه‌هایی از کشورها و زبان‌های مختلف را در بر می‌گرفت. امّا از سال ۱۳۷۸ بیماری اش شدّت گرفت. او به بیماری هپاتیت سی مبتلا بود و در نتیجهٔ عوارض کبدی ناشی از آن در خرداد ۱۳۸۱ برای درمان به لیل فرانسه رفت و در ۹ شهریور همان سال پس از مدّتی اغما در بیمارستان، ساعت ۱ صبح روز شنبه در سن ۵۹ سالگی درگذشت و در ۱۳ شهریور در گورستان تیه (قطعه ۱۱۰، ردیف ۷، سنگ ۲۳) در پاریس دفن شد. پس از درگذشتش مجموعه آثار و فیلم‌های مستندی چون «آمین»، «برف» و «جمعه‌های فرهاد» از او منتشر شد.
          .jAudio--playlist
          .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
            div(data-role='navbar')
              .jAudio--controls
                ul
                  li
                    button.jAudio--control.jAudio--control-prev(data-action='prev')
                      span
                  li
                    button.jAudio--control.jAudio--control-play(data-action='play')
                      span
                  li
                    button.jAudio--control.jAudio--control-next(data-action='next')
                      span
    // /content
    .nav-glyphish-example(data-role='footer' data-theme='b' data-position='fixed')
      div(data-role='navbar')
    script(src='resources/js/jaudio.min.js')
    script(src='resources/js/9.js')
