doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='icon' href='/images/icon.png')
    link(rel='stylesheet' href='css/jquery.toast.css')
    script(type='text/javascript' src='js/jquery.toast.js')
    script(src='js/jquery.js')
    link(rel='stylesheet' href='css/font.css')
    link(rel='manifest', href='/manifest.json')

    title دل آواز
    script(type="text/javascript").
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/service-worker.js");
        }
        function showSnackBar() {
            if (!#{internetStatus}){
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", "");                 window.location=document.URL;
                window.location=document.URL;}, 7000);
            }else{
                window.setTimeout(function() {
                    window.location.href = '/index';
                }, 5000);
            }
        } 
    style(type="text/css").
        /* The snackbar - position it at the bottom and in the middle of the screen */
        #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 210px; /* Set a default minimum width */
        margin-left: -105px; /* Divide value of min-width by 2 */
        background-color: #fff; /* Black background color */
        color: #c0392b; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 5px; /* Rounded borders */
        padding: 8px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
        }

        /* Show the snackbar when clicking on a button (class added with JavaScript) */
        #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        /* Animations to fade the snackbar in and out */
        @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
        }
       
  body(onload='showSnackBar()' style='padding:0;margin: 0;font-family: "irans",tahoma;background-color: #ff3239 !important;')
    div(data-role='content')
        div#snackbar !اینترنت در درسترس نمی باشد    
        img(src='images/splash.png' alt='splash' style='width: 100%;height: auto;')
        
